<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>automaticallyCheckForChanges</key>
	<true/>
	<key>collectionIdentAutosaveName</key>
	<string>493CBF7D-9D81-44D3-AAF2-3091F708FB17</string>
	<key>draftFileFormat</key>
	<integer>0</integer>
	<key>draftPlainTextExtension</key>
	<string>txt</string>
	<key>folderBookmarkData</key>
	<data>
	Ym9va9QCAAAAAAQQMAAAAF4jOCQVnS8C7OFMmsGwTHNH1pDMhRgBI7LYcjEsbWom3AEA
	AAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAFJlaW51YWwABwAAAAEBAABEcm9wYm94AAkA
	AAABAQAAV3JpdGVSb29tAAAAFgAAAAEBAABpQ2FuU2NyaXB0IFVzZXIgTWFudWFsAAAU
	AAAAAQYAAAQAAAAUAAAAJAAAADQAAABIAAAACAAAAAQDAADsvgAAAAAAAAgAAAAEAwAA
	WQIFAAAAAAAIAAAABAMAAKXeLwAAAAAACAAAAAQDAAB+FIUAAAAAAAgAAAAEAwAAuAqP
	AAAAAAAUAAAAAQYAAIQAAACUAAAApAAAALQAAADEAAAACAAAAAAEAABBtsKSTwAAABgA
	AAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAADAAAAAAAAAAQAAAAD
	AwAA9QEAAAwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAAI91rgAAAAgAAAAABAAA
	QbPLcOwAAAAkAAAAAQEAADBFODM5MzQzLTlDM0QtM0NCNS1BNkQzLUM2NDNCRTVFNUE2
	NxgAAAABAgAAgQAAAAEACADvPwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEF
	AAAEAAAAAwMAAAAIACjAAAAA/v///wEAAAAAAAAADwAAAAQQAABoAAAAAAAAAAUQAADU
	AAAAAAAAABAQAAAAAQAAAAAAAEAQAADwAAAAAAAAAAIgAAC8AQAAAAAAABAgAAA8AQAA
	AAAAABEgAABwAQAAAAAAABIgAABQAQAAAAAAABMgAABgAQAAAAAAACAgAACcAQAAAAAA
	ADAgAADIAQAAAAAAAAHAAAAgAQAAAAAAABHAAAAUAAAAAAAAABLAAAAwAQAAAAAAABDQ
	AADQAQAAAAAAAA==
	</data>
	<key>folderPath</key>
	<string>/Users/Reinual/Dropbox/WriteRoom/iCanScript User Manual</string>
	<key>importDestinationID</key>
	<integer>1</integer>
	<key>importShowsContainersOnly</key>
	<true/>
	<key>otherFileFormat</key>
	<integer>0</integer>
	<key>otherPlainTextExtension</key>
	<string>txt</string>
	<key>plainTextAddsParagraphPadding</key>
	<true/>
	<key>syncsDraftFolder</key>
	<true/>
	<key>syncsOnlyDocumentsInCollection</key>
	<false/>
	<key>syncsOtherTextFiles</key>
	<true/>
	<key>takesSnapshots</key>
	<true/>
	<key>usesFileNumbering</key>
	<true/>
</dict>
</plist>
