<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>automaticallyCheckForChanges</key>
	<true/>
	<key>draftFileFormat</key>
	<integer>0</integer>
	<key>draftPlainTextExtension</key>
	<string>txt</string>
	<key>folderBookmarkData</key>
	<data>
	Ym9va9QCAAAAAAQQMAAAAPRUm1liXyknn3TmbO4JAVXr7GFAg5S52ly6aT0t37cu3AEA
	AAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAFJlaW51YWwABwAAAAEBAABEcm9wYm94AAkA
	AAABAQAAV3JpdGVSb29tAAAAFgAAAAEBAABpQ2FuU2NyaXB0IFVzZXIgTWFudWFsAAAU
	AAAAAQYAAAQAAAAUAAAAJAAAADQAAABIAAAACAAAAAQDAACNkQAAAAAAAAgAAAAEAwAA
	ZQgIAAAAAAAIAAAABAMAAAQbnwAAAAAACAAAAAQDAADpiAoBAAAAAAgAAAAEAwAAHS4U
	AQAAAAAUAAAAAQYAAIQAAACUAAAApAAAALQAAADEAAAACAAAAAAEAABBtsKSTwAAABgA
	AAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAADAAAAAAAAAAQAAAAD
	AwAA9QEAAAwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAgJyt6AAAAAgAAAAABAAA
	QbC2VR8AAAAkAAAAAQEAADBFOEQ3MkFELUI3RUUtMzNGOS04QTYzLTI0QjM1ODNDRDY0
	NBgAAAABAgAAgQAAAAEACADvPwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEF
	AAAEAAAAAwMAAAAIACjAAAAA/v///wEAAAAAAAAADwAAAAQQAABoAAAAAAAAAAUQAADU
	AAAAAAAAABAQAAAAAQAAAAAAAEAQAADwAAAAAAAAAAIgAAC8AQAAAAAAABAgAAA8AQAA
	AAAAABEgAABwAQAAAAAAABIgAABQAQAAAAAAABMgAABgAQAAAAAAACAgAACcAQAAAAAA
	ADAgAADIAQAAAAAAAAHAAAAgAQAAAAAAABHAAAAUAAAAAAAAABLAAAAwAQAAAAAAABDQ
	AADQAQAAAAAAAA==
	</data>
	<key>folderPath</key>
	<string>/Users/Reinual/Dropbox/WriteRoom/iCanScript User Manual</string>
	<key>importDestinationID</key>
	<integer>1</integer>
	<key>importShowsContainersOnly</key>
	<true/>
	<key>otherFileFormat</key>
	<integer>0</integer>
	<key>otherPlainTextExtension</key>
	<string>txt</string>
	<key>plainTextAddsParagraphPadding</key>
	<true/>
	<key>syncsDraftFolder</key>
	<true/>
	<key>syncsOnlyDocumentsInCollection</key>
	<false/>
	<key>syncsOtherTextFiles</key>
	<true/>
	<key>takesSnapshots</key>
	<true/>
	<key>usesFileNumbering</key>
	<true/>
</dict>
</plist>
