<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CollectionIdentifier</key>
	<string>493CBF7D-9D81-44D3-AAF2-3091F708FB17</string>
	<key>IndexCardProjectName</key>
	<string>iCanScript User Manual (ToDo v0.9.0)</string>
	<key>PlainTextParagraphs</key>
	<true/>
	<key>SyncTextAndNotes</key>
	<true/>
	<key>TakeSnapshots</key>
	<true/>
</dict>
</plist>
