<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>Changed</key>
				<false/>
				<key>ColourStyles</key>
				<dict>
					<key>Alpha</key>
					<dict>
						<key>%colour_menu_text%</key>
						<string>#A7B9D4</string>
					</dict>
					<key>Avantgarde</key>
					<dict/>
					<key>Bravo</key>
					<dict/>
					<key>Cameo</key>
					<dict>
						<key>%colour_menu_background%</key>
						<string>#76BFF9</string>
					</dict>
					<key>Caribou</key>
					<dict/>
					<key>Delta</key>
					<dict/>
					<key>Japanese Fantasy</key>
					<dict/>
					<key>Manitoba</key>
					<dict/>
					<key>Notes</key>
					<dict/>
					<key>Patchy</key>
					<dict/>
					<key>Realmac Software '06</key>
					<dict/>
					<key>Seasonal</key>
					<dict/>
					<key>Veerle</key>
					<dict/>
				</dict>
				<key>CreditRapidWeaver</key>
				<true/>
				<key>CustomCopyrightUsed</key>
				<false/>
				<key>CustomHeader</key>
				<string>

</string>
				<key>CustomSiteTitleUsed</key>
				<false/>
				<key>CustomSloganUsed</key>
				<false/>
				<key>DefaultLinkTarget</key>
				<string>self</string>
				<key>FilenameExtension</key>
				<string>html</string>
				<key>FolderName</key>
				<string>ReleaseNotes</string>
				<key>HasCustomThemeStyle</key>
				<false/>
				<key>ImageFormat</key>
				<string>Original</string>
				<key>ImageQuality</key>
				<string>High</string>
				<key>IndexFilename</key>
				<string>index.html</string>
				<key>OutputFormat</key>
				<string>Default</string>
				<key>OutputXMLDeclaration</key>
				<false/>
				<key>SidebarEnabled</key>
				<integer>1</integer>
				<key>TextEncoding</key>
				<string>utf-8</string>
				<key>ThemeStyles</key>
				<dict>
					<key>Alpha</key>
					<array>
						<string>Sidebar.Hide</string>
						<string>Width.1000px</string>
					</array>
					<key>Aqualicious</key>
					<array>
						<string>Background.White</string>
						<string>Font Family.Modern</string>
						<string>Highlight Bar.On</string>
						<string>Sidebar.Hide</string>
						<string>Styles.Metal</string>
						<string>Width.Variable</string>
					</array>
					<key>Avantgarde</key>
					<array>
						<string>Font Style.San Serif</string>
						<string>Menu Color.Orange</string>
						<string>Sidebar.None</string>
						<string>Title Background and Blog Mark.Brown</string>
						<string>Width.Variable</string>
					</array>
					<key>Bravo</key>
					<array>
						<string>Sidebar.Left</string>
						<string>Width.Variable</string>
					</array>
					<key>Business</key>
					<array>
						<string>Sidebar.Right</string>
						<string>Styles.Blue</string>
						<string>Width.Variable</string>
					</array>
					<key>Cameo</key>
					<array>
						<string>Icons.Blue</string>
						<string>Sidebar.Hide</string>
						<string>Width.Variable</string>
					</array>
					<key>Clean</key>
					<array>
						<string>Sidebar.Right</string>
						<string>Styles.Red</string>
					</array>
					<key>Company</key>
					<array>
						<string>Sidebar.Right</string>
						<string>Styles.Orange</string>
					</array>
					<key>Dark Glass</key>
					<array>
						<string>Sidebar.Hide</string>
					</array>
					<key>Final</key>
					<array>
						<string>Background Style.Background Style Blue</string>
						<string>Container Font Size.medium</string>
						<string>Content font.Titillium</string>
						<string>Footer Font Size.biggest</string>
						<string>Header Font Size.medium</string>
						<string>Headers Font.Titillium</string>
						<string>Navbar width.large</string>
						<string>Sidebar Font Size.medium</string>
						<string>Sidebar position and visibility.Hide</string>
					</array>
					<key>Ideal</key>
					<array>
						<string>Sidebar.Right</string>
						<string>Width.Variable</string>
					</array>
					<key>Interslice</key>
					<array>
						<string>Sidebar.Left</string>
						<string>Width.Variable</string>
					</array>
					<key>Magnesium</key>
					<array>
						<string>Sidebar.Right</string>
						<string>Styles.Electric</string>
						<string>Width.Variable</string>
					</array>
					<key>Web Business</key>
					<array>
						<string>Sidebar.Right</string>
						<string>Styles.Blue</string>
					</array>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array/>
		</dict>
	</array>
	<key>Type</key>
	<string>Page Attributes</string>
</dict>
</plist>
