<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>ID</key>
				<string>page1</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>FAQ</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Isaiah Carew - YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2011-12-19T16:18:06Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>B7560928-39D1-4B36-A679-85500592817E</string>
					<key>PageDigests</key>
					<dict>
						<key>files/stacks_page_page1.css</key>
						<dict>
							<key>Digest</key>
							<data>
							1B2M2Y8AsgTpgAmY7PhC
							fg==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>files/stacks_page_page1.js</key>
						<dict>
							<key>Digest</key>
							<data>
							4nf49Kcs/AKiir2hdl+8
							Qg==
							</data>
							<key>Size</key>
							<integer>135</integer>
						</dict>
						<key>index.html</key>
						<dict>
							<key>Digest</key>
							<data>
							aftBeo2hpuhuI2/iovOc
							Xg==
							</data>
							<key>Size</key>
							<integer>5828</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page1</string>
					<key>SiteRoot</key>
					<string>Support/FAQ</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
