<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>ID</key>
				<string>page15</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>FAQ</string>
				<key>PluginClassName</key>
				<string>LHFaqMakerPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>loghound.com</string>
					<key>Name</key>
					<string>FaqMaker</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2011-12-21T11:54:59Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>B7560928-39D1-4B36-A679-85500592817E</string>
					<key>PageDigests</key>
					<dict>
						<key>files/GoodForPrinting_fm.css</key>
						<dict>
							<key>Digest</key>
							<data>
							6VO5gH61ZlKQRT4ggXSU
							qg==
							</data>
							<key>Size</key>
							<integer>1263</integer>
						</dict>
						<key>files/default_fm.css</key>
						<dict>
							<key>Digest</key>
							<data>
							U1ubrP+SCOt2Gv3V30i2
							iA==
							</data>
							<key>Size</key>
							<integer>1115</integer>
						</dict>
						<key>files/faq.pdf</key>
						<dict>
							<key>Digest</key>
							<data>
							R1S0X3BJMTu1JfJWCX3+
							Ow==
							</data>
							<key>Size</key>
							<integer>24895</integer>
						</dict>
						<key>files/lastCreated.xml</key>
						<dict>
							<key>Digest</key>
							<data>
							k8yPk1SvHItjOEuoMmGi
							6w==
							</data>
							<key>Size</key>
							<integer>1323</integer>
						</dict>
						<key>files/lastModified.xml</key>
						<dict>
							<key>Digest</key>
							<data>
							AtcgQ6GM3wDzTReZyNBL
							WA==
							</data>
							<key>Size</key>
							<integer>1323</integer>
						</dict>
						<key>files/pdf.png</key>
						<dict>
							<key>Digest</key>
							<data>
							5dJNiqPzW/lZ2SdD0lNO
							qw==
							</data>
							<key>Size</key>
							<integer>4858</integer>
						</dict>
						<key>files/pdfrender.html</key>
						<dict>
							<key>Digest</key>
							<data>
							jnRRpuqes1SPJu9e2nY6
							Fg==
							</data>
							<key>Size</key>
							<integer>2830</integer>
						</dict>
						<key>files/ss.js</key>
						<dict>
							<key>Digest</key>
							<data>
							YJv1X9v2SFzrghe/ILZb
							ww==
							</data>
							<key>Size</key>
							<integer>11898</integer>
						</dict>
						<key>files/ss_wp.css</key>
						<dict>
							<key>Digest</key>
							<data>
							aGjCMshz5YUVr8CA5IkO
							qw==
							</data>
							<key>Size</key>
							<integer>2257</integer>
						</dict>
						<key>index.html</key>
						<dict>
							<key>Digest</key>
							<data>
							ZA7uh8LVAFW1+5A9SDC2
							BQ==
							</data>
							<key>Size</key>
							<integer>7114</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page15</string>
					<key>SiteRoot</key>
					<string>Support/FAQ</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array>
				<string>Data.archive</string>
			</array>
			<key>Subsandwiches</key>
			<array>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
