<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>ID</key>
				<string>page1</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Custom Style</string>
				<key>PageTitle</key>
				<string>Download</string>
				<key>PluginClassName</key>
				<string>RapidLinkPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>omnidea srl</string>
					<key>Name</key>
					<string>RapidLink</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2011-12-09T04:04:06Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>70A9CFC2-C1AF-43DC-A987-8082312F54B3</string>
					<key>PageDigests</key>
					<dict>
						<key>files/4_Screen_Shot_2011_11_30_at_11_46_07_AM.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							2EeTK3G2l+w/GdEShmt6
							Cw==
							</data>
							<key>Size</key>
							<integer>46835</integer>
						</dict>
						<key>files/4_Screen_Shot_2011_11_30_at_11_46_07_AM_thumb.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							GSwUN4O/mER1E3+Yrepm
							mA==
							</data>
							<key>Size</key>
							<integer>7840</integer>
						</dict>
						<key>files/coupons.php</key>
						<dict>
							<key>Digest</key>
							<data>
							52wsbK2nUfDwC+NUerOO
							dQ==
							</data>
							<key>Size</key>
							<integer>205</integer>
						</dict>
						<key>index.html</key>
						<dict>
							<key>Digest</key>
							<data>
							FytS2kmVbQyGg7iv5EAG
							fA==
							</data>
							<key>Size</key>
							<integer>9913</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page1</string>
					<key>SiteRoot</key>
					<string>rapidcart</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array>
				<string>Data.archive</string>
			</array>
			<key>Subsandwiches</key>
			<array>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
