<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>ID</key>
				<string>page0</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Home</string>
				<key>PluginClassName</key>
				<string>RMSitemapPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Sitemap</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2011-12-09T04:07:09Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>70A9CFC2-C1AF-43DC-A987-8082312F54B3</string>
					<key>PageDigests</key>
					<dict>
						<key>index.html</key>
						<dict>
							<key>Digest</key>
							<data>
							75ZweI+lkI3EXAXN6eGb
							NQ==
							</data>
							<key>Size</key>
							<integer>4165</integer>
						</dict>
						<key>rw_common/version.txt</key>
						<dict>
							<key>Digest</key>
							<data>
							N+zSdghICqNWmlEaY4yn
							Tw==
							</data>
							<key>Size</key>
							<integer>4</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page0</string>
					<key>SiteRoot</key>
					<string></string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array>
				<string>Data.archive</string>
			</array>
			<key>Subsandwiches</key>
			<array>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
