<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>layoutName</key>
		<string>5161</string>
		<key>lineOneContents</key>
		<array>
			<dict>
				<key>dataValueKeyPath</key>
				<string>itemGnField</string>
				<key>fieldGUID</key>
				<string>Field:019AC2D0-51BA-409F-8123-649F8EE9F6C9</string>
				<key>fieldLabel</key>
				<string>Item Name</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>lineTwoContents</key>
		<array>
			<dict>
				<key>dataValueKeyPath</key>
				<string>priceGnField</string>
				<key>fieldGUID</key>
				<string>Field:236B18B5-817A-4D05-8039-C88F69B7FBD2</string>
				<key>fieldLabel</key>
				<string>List Price</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>mediaContent</key>
		<dict>
			<key>dataValueKeyPath</key>
			<string>closeupGnField</string>
			<key>fieldGUID</key>
			<string>Field:2A454156-E235-4123-951C-4883B6750BB2</string>
			<key>fieldLabel</key>
			<string>Close-up</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<key>name</key>
		<string>Default Label</string>
		<key>sectionName</key>
		<string>Avery Standard</string>
	</dict>
	<dict>
		<key>lineOneContents</key>
		<array>
			<dict>
				<key>dataValueKeyPath</key>
				<string>itemGnField</string>
				<key>fieldGUID</key>
				<string>Field:019AC2D0-51BA-409F-8123-649F8EE9F6C9</string>
				<key>fieldLabel</key>
				<string>Item Name</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>lineTwoContents</key>
		<array/>
		<key>name</key>
		<string>Inventory Stickers</string>
		<key>showsForeignCountryOnly</key>
		<false/>
	</dict>
</array>
</plist>
