<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>contentFontName</key>
		<string>LucidaGrande</string>
		<key>contentFontSize</key>
		<real>14</real>
		<key>layoutName</key>
		<string>5161</string>
		<key>lineOneContents</key>
		<array/>
		<key>lineThreeContents</key>
		<array>
			<dict>
				<key>dataValueKeyPath</key>
				<string>priceGnField</string>
				<key>fieldGUID</key>
				<string>Field:611B69AB-033D-4AEC-BE79-57FC4CED49A4</string>
				<key>fieldLabel</key>
				<string>Price</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>lineTwoContents</key>
		<array>
			<dict>
				<key>dataValueKeyPath</key>
				<string>nameGnField</string>
				<key>fieldGUID</key>
				<string>Field:6CEFA7D0-8A11-48DE-8CBE-CDB733CD2CA6</string>
				<key>fieldLabel</key>
				<string>Item Name</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>mediaContent</key>
		<dict>
			<key>dataValueKeyPath</key>
			<string>qrCodeGnField</string>
			<key>fieldGUID</key>
			<string>Field:04B13AE5-FF06-4114-860D-C8E5490674EC</string>
			<key>fieldLabel</key>
			<string>QR Code</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<key>name</key>
		<string>Default Label</string>
		<key>sectionName</key>
		<string>Avery Standard</string>
		<key>wantsLabelBorder</key>
		<false/>
	</dict>
	<dict>
		<key>contentFontName</key>
		<string>LucidaGrande</string>
		<key>contentFontSize</key>
		<real>14</real>
		<key>layoutName</key>
		<string>5167</string>
		<key>lineOneContents</key>
		<array>
			<dict>
				<key>dataValueKeyPath</key>
				<string>nameGnField</string>
				<key>fieldGUID</key>
				<string>Field:6CEFA7D0-8A11-48DE-8CBE-CDB733CD2CA6</string>
				<key>fieldLabel</key>
				<string>Item Name</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>lineTwoContents</key>
		<array>
			<dict>
				<key>dataValueKeyPath</key>
				<string>priceGnField</string>
				<key>fieldGUID</key>
				<string>Field:611B69AB-033D-4AEC-BE79-57FC4CED49A4</string>
				<key>fieldLabel</key>
				<string>Price</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>Price Tags</string>
		<key>sectionName</key>
		<string>Avery Standard</string>
		<key>showsForeignCountryOnly</key>
		<false/>
		<key>textAlignment</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>contentFontName</key>
		<string>LucidaGrande</string>
		<key>contentFontSize</key>
		<real>64</real>
		<key>layoutName</key>
		<string>Custom Page Layout</string>
		<key>lineOneContents</key>
		<array>
			<dict>
				<key>label</key>
				<string>  </string>
				<key>type</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>lineTwoContents</key>
		<array>
			<dict>
				<key>label</key>
				<string> </string>
				<key>type</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>mediaContent</key>
		<dict>
			<key>dataValueKeyPath</key>
			<string>qrCodeGnField</string>
			<key>fieldGUID</key>
			<string>Field:04B13AE5-FF06-4114-860D-C8E5490674EC</string>
			<key>fieldLabel</key>
			<string>QR Code</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<key>name</key>
		<string>22806QRCodeSquare</string>
		<key>sectionName</key>
		<string>22806QRCodeSquare</string>
		<key>showsForeignCountryOnly</key>
		<false/>
		<key>textAlignment</key>
		<integer>2</integer>
		<key>wantsLabelBorder</key>
		<false/>
	</dict>
</array>
</plist>
