<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>contentFontName</key>
		<string>LucidaGrande</string>
		<key>contentFontSize</key>
		<real>14</real>
		<key>layoutName</key>
		<string>5163</string>
		<key>lineFourContents</key>
		<array>
			<dict>
				<key>dataValueKeyPath</key>
				<string>addressGnField.city</string>
				<key>fieldGUID</key>
				<string>Field:A29BB973-1A5A-4150-891B-2CE2463ABE68</string>
				<key>fieldLabel</key>
				<string>Address (City)</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>label</key>
				<string> </string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>dataValueKeyPath</key>
				<string>addressGnField.country</string>
				<key>fieldGUID</key>
				<string>Field:A29BB973-1A5A-4150-891B-2CE2463ABE68</string>
				<key>fieldLabel</key>
				<string>Address (Country)</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>lineOneContents</key>
		<array>
			<dict>
				<key>label</key>
				<string>Hello!  My Name Is</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>lineThreeContents</key>
		<array>
			<dict>
				<key>dataValueKeyPath</key>
				<string>companyGnField</string>
				<key>fieldGUID</key>
				<string>Field:7D7C1B29-F35A-4C9A-B164-4259FF838C2B</string>
				<key>fieldLabel</key>
				<string>Company</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>lineTwoContents</key>
		<array>
			<dict>
				<key>dataValueKeyPath</key>
				<string>firstNameGnField</string>
				<key>fieldGUID</key>
				<string>Field:6AAB70D1-C4C8-4FD5-8868-F7811D507930</string>
				<key>fieldLabel</key>
				<string>First Name</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>label</key>
				<string> </string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>dataValueKeyPath</key>
				<string>lastNameGnField</string>
				<key>fieldGUID</key>
				<string>Field:FD89A2DD-3F34-4346-BE63-777CE7FCD104</string>
				<key>fieldLabel</key>
				<string>Last Name</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>mediaContent</key>
		<dict>
			<key>dataValueKeyPath</key>
			<string>pictureGnField</string>
			<key>fieldGUID</key>
			<string>Field:79C5B057-5166-49B3-8B3E-A65438F3FEFF</string>
			<key>fieldLabel</key>
			<string>Picture</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<key>name</key>
		<string>Default Label</string>
		<key>sectionName</key>
		<string>Avery Standard</string>
		<key>showsCountry</key>
		<true/>
		<key>showsForeignCountryOnly</key>
		<true/>
		<key>usesAddressLabelPrintingMode</key>
		<false/>
		<key>wantsLabelBorder</key>
		<false/>
	</dict>
	<dict>
		<key>addressContent</key>
		<dict>
			<key>dataValueKeyPath</key>
			<string>addressGnField</string>
			<key>fieldGUID</key>
			<string>Field:A29BB973-1A5A-4150-891B-2CE2463ABE68</string>
			<key>fieldLabel</key>
			<string>Address</string>
		</dict>
		<key>contentFontName</key>
		<string>LucidaGrande</string>
		<key>contentFontSize</key>
		<real>10</real>
		<key>layoutName</key>
		<string>5160</string>
		<key>lineFiveContents</key>
		<array/>
		<key>lineFourContents</key>
		<array/>
		<key>lineOneContents</key>
		<array>
			<dict>
				<key>dataValueKeyPath</key>
				<string>firstNameGnField</string>
				<key>fieldGUID</key>
				<string>Field:6AAB70D1-C4C8-4FD5-8868-F7811D507930</string>
				<key>fieldLabel</key>
				<string>First Name</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>label</key>
				<string> </string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>dataValueKeyPath</key>
				<string>lastNameGnField</string>
				<key>fieldGUID</key>
				<string>Field:FD89A2DD-3F34-4346-BE63-777CE7FCD104</string>
				<key>fieldLabel</key>
				<string>Last Name</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>lineThreeContents</key>
		<array/>
		<key>lineTwoContents</key>
		<array>
			<dict>
				<key>dataValueKeyPath</key>
				<string>companyGnField</string>
				<key>fieldGUID</key>
				<string>Field:7D7C1B29-F35A-4C9A-B164-4259FF838C2B</string>
				<key>fieldLabel</key>
				<string>Company</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>mediaContent</key>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<key>name</key>
		<string>Mailing Labels</string>
		<key>sectionName</key>
		<string>Avery Standard</string>
		<key>showsCountry</key>
		<true/>
		<key>showsForeignCountryOnly</key>
		<true/>
		<key>usesAddressLabelPrintingMode</key>
		<true/>
		<key>wantsLabelBorder</key>
		<false/>
	</dict>
	<dict>
		<key>contentFontName</key>
		<string>LucidaGrande</string>
		<key>contentFontSize</key>
		<real>14</real>
		<key>layoutName</key>
		<string>5163</string>
		<key>lineFiveContents</key>
		<array/>
		<key>lineFourContents</key>
		<array>
			<dict>
				<key>dataValueKeyPath</key>
				<string>addressGnField.city</string>
				<key>fieldGUID</key>
				<string>Field:A29BB973-1A5A-4150-891B-2CE2463ABE68</string>
				<key>fieldLabel</key>
				<string>Address (City)</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>label</key>
				<string> </string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>dataValueKeyPath</key>
				<string>addressGnField.country</string>
				<key>fieldGUID</key>
				<string>Field:A29BB973-1A5A-4150-891B-2CE2463ABE68</string>
				<key>fieldLabel</key>
				<string>Address (Country)</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>lineOneContents</key>
		<array>
			<dict>
				<key>label</key>
				<string>Hello!  My Name Is:</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>lineThreeContents</key>
		<array>
			<dict>
				<key>dataValueKeyPath</key>
				<string>companyGnField</string>
				<key>fieldGUID</key>
				<string>Field:7D7C1B29-F35A-4C9A-B164-4259FF838C2B</string>
				<key>fieldLabel</key>
				<string>Company</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>lineTwoContents</key>
		<array>
			<dict>
				<key>dataValueKeyPath</key>
				<string>firstNameGnField</string>
				<key>fieldGUID</key>
				<string>Field:6AAB70D1-C4C8-4FD5-8868-F7811D507930</string>
				<key>fieldLabel</key>
				<string>First Name</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>label</key>
				<string> </string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>dataValueKeyPath</key>
				<string>lastNameGnField</string>
				<key>fieldGUID</key>
				<string>Field:FD89A2DD-3F34-4346-BE63-777CE7FCD104</string>
				<key>fieldLabel</key>
				<string>Last Name</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>mediaContent</key>
		<dict>
			<key>dataValueKeyPath</key>
			<string>pictureGnField</string>
			<key>fieldGUID</key>
			<string>Field:79C5B057-5166-49B3-8B3E-A65438F3FEFF</string>
			<key>fieldLabel</key>
			<string>Picture</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<key>name</key>
		<string>Name Badges</string>
		<key>sectionName</key>
		<string>Avery Standard</string>
		<key>showsCountry</key>
		<true/>
		<key>showsForeignCountryOnly</key>
		<true/>
		<key>usesAddressLabelPrintingMode</key>
		<false/>
		<key>wantsLabelBorder</key>
		<false/>
	</dict>
	<dict>
		<key>contentFontName</key>
		<string>LucidaGrande</string>
		<key>contentFontSize</key>
		<real>10</real>
		<key>layoutName</key>
		<string>5167</string>
		<key>lineFiveContents</key>
		<array/>
		<key>lineFourContents</key>
		<array/>
		<key>lineOneContents</key>
		<array>
			<dict>
				<key>label</key>
				<string>Enter Address Line 1 Here</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>lineThreeContents</key>
		<array>
			<dict>
				<key>label</key>
				<string>Enter Address Line 3 Here</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>lineTwoContents</key>
		<array>
			<dict>
				<key>label</key>
				<string>Enter Address Line 2 Here</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>Return Labels</string>
		<key>sectionName</key>
		<string>Avery Standard</string>
		<key>showsForeignCountryOnly</key>
		<false/>
		<key>usesAddressLabelPrintingMode</key>
		<false/>
		<key>wantsLabelBorder</key>
		<false/>
	</dict>
</array>
</plist>
