<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BHHideCalendarSyncSetup</key>
	<true/>
	<key>BHMigratedSyncSetupDialogSetting</key>
	<true/>
	<key>GNDatabaseInstanceId</key>
	<string>F5EDF615-42AA-42F6-BA6B-D4DC08AA59D6</string>
	<key>GNDatabaseVacuumCheckCount</key>
	<integer>0</integer>
	<key>GNDatabaseVacuumFrequency</key>
	<integer>10</integer>
	<key>GridEntities</key>
	<dict>
		<key>Grid:135F04F5-C854-4A6B-9378-5A29A63B6752</key>
		<dict>
			<key>primaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>secondaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>selectedDisplayFormGUID</key>
			<string>Presentation:21AD0DAA-6A0E-4D93-A090-226DBD4EC4BF</string>
		</dict>
		<key>Grid:1929D807-A825-4111-868F-01C426F60AE3</key>
		<dict>
			<key>primaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>secondaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
		</dict>
		<key>Grid:26BE9053-6003-4882-AB46-8A4A62CAEED5</key>
		<dict>
			<key>primaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>secondaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
		</dict>
		<key>Grid:4A8D65A9-CEBC-4277-A1FC-C7CC774FF7D8</key>
		<dict>
			<key>posterImagePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>primaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>secondaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
		</dict>
		<key>Grid:4E162E9D-0273-40CB-8B92-DD49729DCC5B</key>
		<dict>
			<key>primaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>secondaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
		</dict>
		<key>Grid:501CECFD-E3D6-420A-AFFD-40690256F88A</key>
		<dict>
			<key>primaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>secondaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
		</dict>
		<key>Grid:502B0955-F803-4E06-B171-E5F6B3531EE8</key>
		<dict>
			<key>primaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>secondaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
		</dict>
		<key>Grid:5562D3AC-2B81-4C3A-82A7-A63403D8677D</key>
		<dict>
			<key>posterImagePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>primaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>secondaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
		</dict>
		<key>Grid:584766DB-E09A-45B6-9152-A329C4536264</key>
		<dict>
			<key>posterImagePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>primaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>secondaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
		</dict>
		<key>Grid:6A06F511-D4E0-4AC5-A641-B057522D2185</key>
		<dict>
			<key>primaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>secondaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
		</dict>
		<key>Grid:6D8036E1-9AF5-466C-95F6-BDE55B5A73BD</key>
		<dict>
			<key>posterImagePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>primaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>secondaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
		</dict>
		<key>Grid:6DCDAE9E-31EE-43DE-B451-1D92C6129277</key>
		<dict>
			<key>primaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>secondaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
		</dict>
		<key>Grid:6E2F0642-BADF-4A11-9CA9-43366D3FD4E0</key>
		<dict>
			<key>primaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>secondaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
		</dict>
		<key>Grid:7014AB26-9662-4F43-8861-1EE00D3D1A30</key>
		<dict>
			<key>primaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>secondaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
		</dict>
		<key>Grid:7F79FB62-E9DF-4473-9F3F-603478C18F63</key>
		<dict>
			<key>posterImagePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>primaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>secondaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
		</dict>
		<key>Grid:856BA373-38D5-4AC0-9738-2EA838E6D417</key>
		<dict>
			<key>primaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>secondaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
		</dict>
		<key>Grid:8C5A8CC9-4F6C-483D-A153-D553EA32E134</key>
		<dict>
			<key>posterImagePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>primaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>secondaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
		</dict>
		<key>Grid:8F8DD355-C02E-4FEA-85B1-56F616D8BE6B</key>
		<dict>
			<key>primaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>secondaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
		</dict>
		<key>Grid:9092D643-73F7-4530-B9CA-878ADC566390</key>
		<dict>
			<key>posterImagePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>primaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>secondaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
		</dict>
		<key>Grid:9370C7B5-0DB4-4342-AF04-3C07624D760C</key>
		<dict>
			<key>posterImagePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>primaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>secondaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
		</dict>
		<key>Grid:9B940BAC-BC76-4ECE-BB8A-3EC3014E0094</key>
		<dict>
			<key>primaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>secondaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
		</dict>
		<key>Grid:9D8ECF8D-6E4F-42AD-A2F7-BD6EAB73D146</key>
		<dict>
			<key>primaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>secondaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
		</dict>
		<key>Grid:A2966D64-6E9D-4961-A6E6-8595BBF7864B</key>
		<dict>
			<key>primaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>secondaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
		</dict>
		<key>Grid:AA96EBCE-18F8-47A2-93EA-6AD55E677340</key>
		<dict>
			<key>posterImagePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>primaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>secondaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
		</dict>
		<key>Grid:B2972BD2-591D-4692-BB9E-09AFB861FE2A</key>
		<dict>
			<key>posterImagePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>primaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>secondaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
		</dict>
		<key>Grid:B5DCEEBF-8533-4A56-B4E5-A905E461F8FF</key>
		<dict>
			<key>posterImagePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>primaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>secondaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
		</dict>
		<key>Grid:BB54D2B0-39A7-4639-AB41-AD5CEB16F406</key>
		<dict>
			<key>posterImagePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>primaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>secondaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
		</dict>
		<key>Grid:C386ED56-4B29-4062-BBD1-E835C2AD0587</key>
		<dict>
			<key>posterImagePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>primaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>secondaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
		</dict>
		<key>Grid:CB7FFC5C-DAB4-407C-AB2F-1A219C40C977</key>
		<dict>
			<key>primaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>secondaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
		</dict>
		<key>Grid:DB4D9105-C6D5-461A-9F81-4EEFC76AD178</key>
		<dict>
			<key>primaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>secondaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
		</dict>
		<key>Grid:E1ABBEDD-702A-4117-9943-EA42350BEB97</key>
		<dict>
			<key>primaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>secondaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
		</dict>
		<key>Grid:E3B55451-4FB8-467C-95F9-B4EF3C382D27</key>
		<dict>
			<key>posterImagePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>primaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>secondaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
		</dict>
		<key>Grid:EC1AAF5B-EE81-4B5E-B6E2-0EA9787B72BD</key>
		<dict>
			<key>primaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>secondaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
		</dict>
		<key>Grid:F9CC56E7-545C-44C9-A0B3-099FC27A5F01</key>
		<dict>
			<key>primaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>secondaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
		</dict>
		<key>Grid:FA08D0D3-133A-424A-9FA5-D50E741F0B2A</key>
		<dict>
			<key>primaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>secondaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
		</dict>
		<key>Grid:FE8F2F56-7C35-4DDC-8885-F8A0B8347E2D</key>
		<dict>
			<key>posterImagePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>primaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
			<key>secondaryTitlePresentationCell.automaticallyChoosesPresentationCell</key>
			<false/>
		</dict>
		<key>PresentationCell:DCC8FB5C-62CD-4FCF-9B87-232857D418A0</key>
		<dict>
			<key>gridSize</key>
			<real>72.271027803421021</real>
		</dict>
		<key>SourceItem:C46C5121-761E-47B9-949C-C0D05D1DB7B0</key>
		<dict>
			<key>gridSize</key>
			<real>64</real>
		</dict>
	</dict>
	<key>PresentationCellEntities</key>
	<dict>
		<key>PresentationCell:09FB0BAD-F5A4-4C68-8986-4502286DCCC8</key>
		<dict>
			<key>relationshipAttributesTableCollapsed</key>
			<string>1</string>
			<key>relationshipAttributesTableDividerPosition</key>
			<string>1024</string>
		</dict>
		<key>PresentationCell:1FDFC09A-0589-46AA-98A9-F504165909F8</key>
		<dict>
			<key>relationshipAttributesTableCollapsed</key>
			<string>1</string>
			<key>relationshipAttributesTableDividerPosition</key>
			<string>1024</string>
		</dict>
		<key>PresentationCell:23B0B613-ED7D-4029-BAB0-FE3677992D38</key>
		<dict>
			<key>relationshipAttributesTableCollapsed</key>
			<string>1</string>
			<key>relationshipAttributesTableDividerPosition</key>
			<string>1024</string>
		</dict>
		<key>PresentationCell:3831EDCF-ECDE-4738-91AC-66913BD3335E</key>
		<dict>
			<key>relationshipAttributesTableCollapsed</key>
			<string>1</string>
			<key>relationshipAttributesTableDividerPosition</key>
			<string>1024</string>
		</dict>
		<key>PresentationCell:3A2D22CB-7779-4DB6-BA37-CB66371AEF5E</key>
		<dict>
			<key>relationshipAttributesTableCollapsed</key>
			<string>1</string>
			<key>relationshipAttributesTableDividerPosition</key>
			<string>1024</string>
		</dict>
		<key>PresentationCell:48660B76-D7B5-4A3A-A0E6-3173AFD82626</key>
		<dict>
			<key>relationshipAttributesTableCollapsed</key>
			<string>1</string>
			<key>relationshipAttributesTableDividerPosition</key>
			<string>1024</string>
		</dict>
		<key>PresentationCell:49217BC2-D78A-4A7B-82AC-879DFF7070D9</key>
		<dict>
			<key>relationshipAttributesTableCollapsed</key>
			<string>1</string>
			<key>relationshipAttributesTableDividerPosition</key>
			<string>1024</string>
		</dict>
		<key>PresentationCell:4FAB720F-4C32-452E-B397-77B867CC94FD</key>
		<dict>
			<key>relationshipAttributesTableCollapsed</key>
			<string>1</string>
			<key>relationshipAttributesTableDividerPosition</key>
			<string>1024</string>
		</dict>
		<key>PresentationCell:85A3156B-2E05-4E3C-8092-3B90933C5522</key>
		<dict>
			<key>relationshipAttributesTableCollapsed</key>
			<string>1</string>
			<key>relationshipAttributesTableDividerPosition</key>
			<string>1024</string>
		</dict>
		<key>PresentationCell:C0350B90-80FF-468C-B291-0A057A4E27E8</key>
		<dict>
			<key>relationshipAttributesTableCollapsed</key>
			<string>1</string>
			<key>relationshipAttributesTableDividerPosition</key>
			<string>1024</string>
		</dict>
		<key>PresentationCell:C25FC8CD-2F16-4202-AF8F-3573EDE2E826</key>
		<dict>
			<key>relationshipAttributesTableCollapsed</key>
			<string>1</string>
			<key>relationshipAttributesTableDividerPosition</key>
			<string>1024</string>
		</dict>
		<key>PresentationCell:D45676DC-ECCB-4A6B-8A87-C3C51074D3DA</key>
		<dict>
			<key>relationshipAttributesTableCollapsed</key>
			<string>1</string>
			<key>relationshipAttributesTableDividerPosition</key>
			<string>1024</string>
		</dict>
		<key>PresentationCell:E0470F35-03BD-4BCD-94FA-1AAAC2A79A61</key>
		<dict>
			<key>relationshipAttributesTableCollapsed</key>
			<string>1</string>
			<key>relationshipAttributesTableDividerPosition</key>
			<string>1024</string>
		</dict>
		<key>PresentationCell:E07098C4-AC1A-4255-91EF-2E48356AD4C7</key>
		<dict>
			<key>relationshipAttributesTableCollapsed</key>
			<string>1</string>
			<key>relationshipAttributesTableDividerPosition</key>
			<string>1024</string>
		</dict>
		<key>PresentationCell:E217AC7D-F387-4D6D-906C-E90540C08E8F</key>
		<dict>
			<key>relationshipAttributesTableCollapsed</key>
			<string>1</string>
			<key>relationshipAttributesTableDividerPosition</key>
			<string>1024</string>
		</dict>
		<key>PresentationCell:E96CBD16-6455-412A-B570-5A3A37D87DA6</key>
		<dict>
			<key>relationshipAttributesTableCollapsed</key>
			<string>1</string>
			<key>relationshipAttributesTableDividerPosition</key>
			<string>1024</string>
		</dict>
		<key>PresentationCell:F2ABC5A1-C89D-4E7D-A393-A9229732C705</key>
		<dict>
			<key>relationshipAttributesTableCollapsed</key>
			<string>1</string>
			<key>relationshipAttributesTableDividerPosition</key>
			<string>1024</string>
		</dict>
		<key>PresentationCell:F3A9B14B-7406-4C60-8474-EC883E6398FC</key>
		<dict>
			<key>relationshipAttributesTableCollapsed</key>
			<string>1</string>
			<key>relationshipAttributesTableDividerPosition</key>
			<string>1024</string>
		</dict>
		<key>PresentationCell:FC5F36E3-073E-4636-9490-76758706F894</key>
		<dict>
			<key>relationshipAttributesTableCollapsed</key>
			<string>1</string>
			<key>relationshipAttributesTableDividerPosition</key>
			<string>1024</string>
		</dict>
	</dict>
	<key>SourceItemEntities</key>
	<dict>
		<key>SourceItem:16B42A57-CC19-44B1-8654-963FDF6124AC</key>
		<dict>
			<key>masterDetailSplitRatio</key>
			<real>0.18276762962341309</real>
		</dict>
		<key>SourceItem:80B639F2-EDAD-4992-BB41-3D28619CFAA9</key>
		<dict>
			<key>masterDetailSplitRatio</key>
			<real>0.32802432775497437</real>
		</dict>
		<key>SourceItem:CC84A038-5A56-4C60-BBC0-1CA9A159F29B</key>
		<dict>
			<key>masterDetailSplitRatio</key>
			<real>0.22484347224235535</real>
		</dict>
		<key>SourceItem:D79BB99C-0E99-44DE-8429-D8A233975EA0</key>
		<dict>
			<key>masterDetailSplitRatio</key>
			<real>0.18186666071414948</real>
		</dict>
	</dict>
	<key>defaultsLastOpenedRecordKey</key>
	<string>lib_contact:8283C195-6099-4F80-AF3C-07B49AE7CB2A</string>
	<key>selectedNode</key>
	<string>0,SourceItem:16B42A57-CC19-44B1-8654-963FDF6124AC</string>
</dict>
</plist>
