<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>ID</key>
				<string>page2</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Custom Style</string>
				<key>PageTitle</key>
				<string>Downloads</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2014-09-28T13:02:04Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>D5192229-A6EB-4C56-9F39-F53E9280371A</string>
					<key>PageDigests</key>
					<dict>
						<key>files/cloud.php</key>
						<dict>
							<key>Digest</key>
							<data>
							Vbb0Ay7GD8etC1Q0gsTK
							NQ==
							</data>
							<key>Size</key>
							<integer>7859</integer>
						</dict>
						<key>files/downarrow_black.png</key>
						<dict>
							<key>Digest</key>
							<data>
							Vs+sWHb3g0dIENHVf9Oc
							Dw==
							</data>
							<key>Size</key>
							<integer>211</integer>
						</dict>
						<key>files/downarrow_black50.png</key>
						<dict>
							<key>Digest</key>
							<data>
							pxx2KNNEUwTnrWJmjLER
							/Q==
							</data>
							<key>Size</key>
							<integer>270</integer>
						</dict>
						<key>files/downarrow_white.png</key>
						<dict>
							<key>Digest</key>
							<data>
							NaXu14JGrZjjd0j78gOy
							XQ==
							</data>
							<key>Size</key>
							<integer>226</integer>
						</dict>
						<key>files/downarrow_white50.png</key>
						<dict>
							<key>Digest</key>
							<data>
							7wlayzqD9TfFa8Vqlna8
							iA==
							</data>
							<key>Size</key>
							<integer>254</integer>
						</dict>
						<key>files/menu.js</key>
						<dict>
							<key>Digest</key>
							<data>
							rBvKZy5n26GbF/2oeSwq
							Pw==
							</data>
							<key>Size</key>
							<integer>261</integer>
						</dict>
						<key>files/rightarrow_black.png</key>
						<dict>
							<key>Digest</key>
							<data>
							WenO23B+SoLKR9cGgBJl
							bA==
							</data>
							<key>Size</key>
							<integer>185</integer>
						</dict>
						<key>files/rightarrow_black50.png</key>
						<dict>
							<key>Digest</key>
							<data>
							qkZFYChGmMzksuYbnoyo
							jA==
							</data>
							<key>Size</key>
							<integer>225</integer>
						</dict>
						<key>files/rightarrow_white.png</key>
						<dict>
							<key>Digest</key>
							<data>
							ctM/D0DiPb/vrYNoRjEk
							yA==
							</data>
							<key>Size</key>
							<integer>198</integer>
						</dict>
						<key>files/rightarrow_white50.png</key>
						<dict>
							<key>Digest</key>
							<data>
							1Q9tssLlIvZC8WXh6y3O
							ag==
							</data>
							<key>Size</key>
							<integer>224</integer>
						</dict>
						<key>files/sdFileSafeDownload.php</key>
						<dict>
							<key>Digest</key>
							<data>
							MlsGJQg0aolR7jrvpx3/
							+Q==
							</data>
							<key>Size</key>
							<integer>6790</integer>
						</dict>
						<key>files/stacks.css</key>
						<dict>
							<key>Digest</key>
							<data>
							83rm1+JQA7LzSaa1k2Ep
							1w==
							</data>
							<key>Size</key>
							<integer>1841</integer>
						</dict>
						<key>files/stacks_ie.css</key>
						<dict>
							<key>Digest</key>
							<data>
							7iAH6PH4xgg0VPXgfbIV
							7Q==
							</data>
							<key>Size</key>
							<integer>229</integer>
						</dict>
						<key>files/stacks_page_page12.css</key>
						<dict>
							<key>Digest</key>
							<data>
							JBC9ZWuu0jwH7G2RO6JP
							kw==
							</data>
							<key>Size</key>
							<integer>2698</integer>
						</dict>
						<key>files/stacks_page_page12.js</key>
						<dict>
							<key>Digest</key>
							<data>
							QL1z0TYv2TlSl2pFVyYt
							eg==
							</data>
							<key>Size</key>
							<integer>1268</integer>
						</dict>
						<key>files/stacks_page_page2.css</key>
						<dict>
							<key>Digest</key>
							<data>
							v2ENB/ZIvFjnuEzNSr25
							nw==
							</data>
							<key>Size</key>
							<integer>11234</integer>
						</dict>
						<key>files/stacks_page_page2.js</key>
						<dict>
							<key>Digest</key>
							<data>
							6XlHrEuMXEO2dDejOELh
							bw==
							</data>
							<key>Size</key>
							<integer>20426</integer>
						</dict>
						<key>files/stacks_page_page2.php</key>
						<dict>
							<key>Digest</key>
							<data>
							CP2V8VHYWh3eJgnQztJJ
							Fg==
							</data>
							<key>Size</key>
							<integer>964</integer>
						</dict>
						<key>files/stacks_page_page4.css</key>
						<dict>
							<key>Digest</key>
							<data>
							IYBgRYPYllcKfBJs31HB
							1w==
							</data>
							<key>Size</key>
							<integer>8928</integer>
						</dict>
						<key>files/stacks_page_page4.js</key>
						<dict>
							<key>Digest</key>
							<data>
							gT/5nl4M6EjEfTiQIUw7
							UA==
							</data>
							<key>Size</key>
							<integer>15098</integer>
						</dict>
						<key>files/submitImage_1001.png</key>
						<dict>
							<key>Digest</key>
							<data>
							BcE3tsEra+T/+6BoLsMe
							CQ==
							</data>
							<key>Size</key>
							<integer>4686</integer>
						</dict>
						<key>files/submitImage_1127.png</key>
						<dict>
							<key>Digest</key>
							<data>
							BcE3tsEra+T/+6BoLsMe
							CQ==
							</data>
							<key>Size</key>
							<integer>4686</integer>
						</dict>
						<key>files/submitImage_1131.png</key>
						<dict>
							<key>Digest</key>
							<data>
							pwonKZHxAtxpHrkIfouq
							Ig==
							</data>
							<key>Size</key>
							<integer>1372</integer>
						</dict>
						<key>files/submitImage_1134.png</key>
						<dict>
							<key>Digest</key>
							<data>
							BcE3tsEra+T/+6BoLsMe
							CQ==
							</data>
							<key>Size</key>
							<integer>4686</integer>
						</dict>
						<key>files/submitImage_1140.png</key>
						<dict>
							<key>Digest</key>
							<data>
							BcE3tsEra+T/+6BoLsMe
							CQ==
							</data>
							<key>Size</key>
							<integer>4686</integer>
						</dict>
						<key>files/submitImage_1154.png</key>
						<dict>
							<key>Digest</key>
							<data>
							BcE3tsEra+T/+6BoLsMe
							CQ==
							</data>
							<key>Size</key>
							<integer>4686</integer>
						</dict>
						<key>files/submitImage_1186.png</key>
						<dict>
							<key>Digest</key>
							<data>
							pwonKZHxAtxpHrkIfouq
							Ig==
							</data>
							<key>Size</key>
							<integer>1372</integer>
						</dict>
						<key>files/submitImage_1191.png</key>
						<dict>
							<key>Digest</key>
							<data>
							pwonKZHxAtxpHrkIfouq
							Ig==
							</data>
							<key>Size</key>
							<integer>1372</integer>
						</dict>
						<key>files/submitImage_1196.png</key>
						<dict>
							<key>Digest</key>
							<data>
							pwonKZHxAtxpHrkIfouq
							Ig==
							</data>
							<key>Size</key>
							<integer>1372</integer>
						</dict>
						<key>files/submitImage_323.png</key>
						<dict>
							<key>Digest</key>
							<data>
							BcE3tsEra+T/+6BoLsMe
							CQ==
							</data>
							<key>Size</key>
							<integer>4686</integer>
						</dict>
						<key>files/submitImage_360.png</key>
						<dict>
							<key>Digest</key>
							<data>
							pwonKZHxAtxpHrkIfouq
							Ig==
							</data>
							<key>Size</key>
							<integer>1372</integer>
						</dict>
						<key>files/submitImage_365.png</key>
						<dict>
							<key>Digest</key>
							<data>
							BcE3tsEra+T/+6BoLsMe
							CQ==
							</data>
							<key>Size</key>
							<integer>4686</integer>
						</dict>
						<key>files/submitImage_393.png</key>
						<dict>
							<key>Digest</key>
							<data>
							pwonKZHxAtxpHrkIfouq
							Ig==
							</data>
							<key>Size</key>
							<integer>1372</integer>
						</dict>
						<key>files/submitImage_5224.png</key>
						<dict>
							<key>Digest</key>
							<data>
							pwonKZHxAtxpHrkIfouq
							Ig==
							</data>
							<key>Size</key>
							<integer>1372</integer>
						</dict>
						<key>files/submitImage_923.png</key>
						<dict>
							<key>Digest</key>
							<data>
							BcE3tsEra+T/+6BoLsMe
							CQ==
							</data>
							<key>Size</key>
							<integer>4686</integer>
						</dict>
						<key>files/submitImage_931.png</key>
						<dict>
							<key>Digest</key>
							<data>
							pwonKZHxAtxpHrkIfouq
							Ig==
							</data>
							<key>Size</key>
							<integer>1372</integer>
						</dict>
						<key>index.php</key>
						<dict>
							<key>Digest</key>
							<data>
							z8VTvRv+7hj6qhxPrhVx
							Cg==
							</data>
							<key>Size</key>
							<integer>37823</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page2</string>
					<key>SiteRoot</key>
					<string>support/downloads</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
