.DS_Store
*/.DS_Store
Temp/
Unity/Library/
Unity/iOS/
Unity/OSX/
Unity/Windows/
Unity/builds/
*.tmproj
*.pidb
*.userprefs
*.csproj
*.unityproj
Unity/ProjectSettings/
Unity/iCanScript.sln
Unity/iCanScript-csharp.sln
Unity/Assets/.DS_Store
user.lock
/Unity/Unity.sln
/Unity/Unity-csharp.sln
tmtags
Unity/Assets/iCanScript/tmtags.meta
Unity/Assets/iCanScript/tmtagsHistory
Unity/Assets/iCanScript/tmtagsHistory.meta
StagingCommunity
StagingPro
Product/bin/staging/_editorFiles
Product/bin/staging/_engineFiles
Product/bin/staging/editorFiles
Product/bin/staging/editorFilesToExclude
Product/bin/staging/engineFiles
Product/bin/staging/engineFilesToExclude
Product/bin/staging/iCanScriptEditorCommunity.dll
Product/bin/staging/iCanScriptEditorCommunity.rsp
Product/bin/staging/iCanScriptEditorPro.dll
Product/bin/staging/iCanScriptEditorPro.rsp
Product/bin/staging/iCanScriptEngine.dll
Product/bin/staging/iCanScriptEngine.rsp
