.DS_Store
*/.DS_Store
Temp/

WebSite/

Unity/Library/assetDatabase3
Unity/Library/AssetImportState
Unity/Library/AssetServerCacheV3
Unity/Library/assetservercachev3
Unity/Library/AssetVersioning.db
Unity/Library/BuildPlayer.prefs
Unity/Library/cache
Unity/Library/expandedItems
Unity/Library/FailedAssetImports.txt
Unity/Library/guidmapper
Unity/Library/metadata
Unity/Library/previews
Unity/Library/ScriptAssemblies
Unity/Library/ScriptMapper
Unity/iOS/
Unity/OSX/
Unity/Windows/
Unity/builds/
Unity/Library/InspectorExpandedItems.asset

*.tmproj
*.pidb
*.userprefs
*.csproj
*.unityproj

Tools/publish/Obfuscar_Output/Mapping.txt
Tools/publish/Obfuscar_Output/Assembly-CSharp.dll
Tools/publish/Obfuscar_Output/Assembly-CSharp-Editor.dll
Tools/publish/Obfuscar_Input
Tools/publish/Obfuscar_Output
Tools/publish/obfuscator/Obfuscar_Output/
Tools/publish/obfuscator/Obfuscar_Input/
Tools/publish/iCanScriptEngine.rsp
Tools/publish/iCanScriptEngine.dll
Tools/publish/iCanScriptEditor.rsp
Tools/publish/iCanScriptEditor.dll
Tools/publish/engineFilesToExclude
Tools/publish/engineFiles
Tools/publish/editorFilesToExclude
Tools/publish/editorFiles
Tools/publish/_engineFiles
Tools/publish/_editorFiles
Unity/ProjectSettings/
Unity/Library/EditorUserSettings.asset
Unity/iCanScript.sln
Unity/iCanScript-csharp.sln
Unity/Assets/.DS_Store
user.lock
/Unity/Unity.sln
/Unity/Unity-csharp.sln
/Unity/Assets/Sandbox.meta
/Unity/Assets/Sandbox/