.DS_Store
*/.DS_Store
Temp/

WebSite/

Unity/Library/assetDatabase3
Unity/Library/AssetImportState
Unity/Library/AssetServerCacheV3
Unity/Library/assetservercachev3
Unity/Library/AssetVersioning.db
Unity/Library/BuildPlayer.prefs
Unity/Library/cache
Unity/Library/expandedItems
Unity/Library/FailedAssetImports.txt
Unity/Library/guidmapper
Unity/Library/metadata
Unity/Library/previews
Unity/Library/ScriptAssemblies
Unity/Library/ScriptMapper
Unity/iOS/
Unity/OSX/
Unity/Windows/
Unity/builds/
Unity/Library/InspectorExpandedItems.asset

*.tmproj
*.pidb
*.userprefs
*.csproj
*.unityproj

Tools/staging/Obfuscar_Output/Mapping.txt
Tools/staging/Obfuscar_Output/Assembly-CSharp.dll
Tools/staging/Obfuscar_Output/Assembly-CSharp-Editor.dll
Tools/staging/Obfuscar_Input
Tools/staging/Obfuscar_Output
Tools/staging/obfuscator/Obfuscar_Output/
Tools/staging/obfuscator/Obfuscar_Input/
Tools/staging/iCanScriptEngine.rsp
Tools/staging/iCanScriptEngine.dll
Tools/staging/iCanScriptEditor.rsp
Tools/staging/iCanScriptEditor.dll
Tools/staging/engineFilesToExclude
Tools/staging/engineFiles
Tools/staging/editorFilesToExclude
Tools/staging/editorFiles
Tools/staging/_engineFiles
Tools/staging/_editorFiles
Unity/ProjectSettings/
Unity/Library/EditorUserSettings.asset
Unity/iCanScript.sln
Unity/iCanScript-csharp.sln
Unity/Assets/.DS_Store
user.lock
/Unity/Unity.sln
/Unity/Unity-csharp.sln
/Unity/Assets/Sandbox.meta
/Unity/Assets/Sandbox/
/Unity/Library/CurrentLayout.dwlt

/Unity/Library/EditorUserBuildSettings.asset
