<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>iCanScript Tickets | Submit a bug report or feature request.</string>
				<key>ID</key>
				<string>page28</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>&lt;i class="icon-envelope"&gt;&lt;/i&gt; Tickets</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2014-09-28T13:02:09Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>D5192229-A6EB-4C56-9F39-F53E9280371A</string>
					<key>PageDigests</key>
					<dict>
						<key>files/cloud.php</key>
						<dict>
							<key>Digest</key>
							<data>
							Vbb0Ay7GD8etC1Q0gsTK
							NQ==
							</data>
							<key>Size</key>
							<integer>7859</integer>
						</dict>
						<key>files/downarrow_black.png</key>
						<dict>
							<key>Digest</key>
							<data>
							Vs+sWHb3g0dIENHVf9Oc
							Dw==
							</data>
							<key>Size</key>
							<integer>211</integer>
						</dict>
						<key>files/downarrow_black50.png</key>
						<dict>
							<key>Digest</key>
							<data>
							pxx2KNNEUwTnrWJmjLER
							/Q==
							</data>
							<key>Size</key>
							<integer>270</integer>
						</dict>
						<key>files/downarrow_white.png</key>
						<dict>
							<key>Digest</key>
							<data>
							NaXu14JGrZjjd0j78gOy
							XQ==
							</data>
							<key>Size</key>
							<integer>226</integer>
						</dict>
						<key>files/downarrow_white50.png</key>
						<dict>
							<key>Digest</key>
							<data>
							7wlayzqD9TfFa8Vqlna8
							iA==
							</data>
							<key>Size</key>
							<integer>254</integer>
						</dict>
						<key>files/menu.js</key>
						<dict>
							<key>Digest</key>
							<data>
							rBvKZy5n26GbF/2oeSwq
							Pw==
							</data>
							<key>Size</key>
							<integer>261</integer>
						</dict>
						<key>files/rightarrow_black.png</key>
						<dict>
							<key>Digest</key>
							<data>
							WenO23B+SoLKR9cGgBJl
							bA==
							</data>
							<key>Size</key>
							<integer>185</integer>
						</dict>
						<key>files/rightarrow_black50.png</key>
						<dict>
							<key>Digest</key>
							<data>
							qkZFYChGmMzksuYbnoyo
							jA==
							</data>
							<key>Size</key>
							<integer>225</integer>
						</dict>
						<key>files/rightarrow_white.png</key>
						<dict>
							<key>Digest</key>
							<data>
							ctM/D0DiPb/vrYNoRjEk
							yA==
							</data>
							<key>Size</key>
							<integer>198</integer>
						</dict>
						<key>files/rightarrow_white50.png</key>
						<dict>
							<key>Digest</key>
							<data>
							1Q9tssLlIvZC8WXh6y3O
							ag==
							</data>
							<key>Size</key>
							<integer>224</integer>
						</dict>
						<key>files/stacks.css</key>
						<dict>
							<key>Digest</key>
							<data>
							83rm1+JQA7LzSaa1k2Ep
							1w==
							</data>
							<key>Size</key>
							<integer>1841</integer>
						</dict>
						<key>files/stacks_ie.css</key>
						<dict>
							<key>Digest</key>
							<data>
							7iAH6PH4xgg0VPXgfbIV
							7Q==
							</data>
							<key>Size</key>
							<integer>229</integer>
						</dict>
						<key>files/stacks_page_page18.css</key>
						<dict>
							<key>Digest</key>
							<data>
							FWYZ1tjMdRnMEltcdPyY
							RA==
							</data>
							<key>Size</key>
							<integer>8932</integer>
						</dict>
						<key>files/stacks_page_page18.js</key>
						<dict>
							<key>Digest</key>
							<data>
							5kZO4od6p66uQfD7oJYo
							5g==
							</data>
							<key>Size</key>
							<integer>15102</integer>
						</dict>
						<key>files/stacks_page_page28.css</key>
						<dict>
							<key>Digest</key>
							<data>
							oLlVsZm7btZDivsMap+2
							1Q==
							</data>
							<key>Size</key>
							<integer>185</integer>
						</dict>
						<key>files/stacks_page_page28.js</key>
						<dict>
							<key>Digest</key>
							<data>
							H+FOQ8zrYiEG4kup5QBx
							cg==
							</data>
							<key>Size</key>
							<integer>2594</integer>
						</dict>
						<key>index.html</key>
						<dict>
							<key>Digest</key>
							<data>
							zj40a9mugCPxpfM9MY09
							jA==
							</data>
							<key>Size</key>
							<integer>9290</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page28</string>
					<key>SiteRoot</key>
					<string>helpdesk/tickets</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
