<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>ID</key>
				<string>page13</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>R</string>
				<key>PluginClassName</key>
				<string>YDFormLoomPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Yabdab Inc.</string>
					<key>Name</key>
					<string>FormLoom 2</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2011-12-19T13:45:27Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>B7560928-39D1-4B36-A679-85500592817E</string>
					<key>PageDigests</key>
					<dict>
						<key>files/class.phpmailer.php</key>
						<dict>
							<key>Digest</key>
							<data>
							MpSefijowvzRXWGS2EEw
							wQ==
							</data>
							<key>Size</key>
							<integer>74526</integer>
						</dict>
						<key>files/class.smtp.php</key>
						<dict>
							<key>Digest</key>
							<data>
							yOnWl8FObkAA9+I+SjcS
							vQ==
							</data>
							<key>Size</key>
							<integer>25613</integer>
						</dict>
						<key>files/formloom-page13.css</key>
						<dict>
							<key>Digest</key>
							<data>
							CDE/Tvh98ApyCoq0M4eP
							YQ==
							</data>
							<key>Size</key>
							<integer>9332</integer>
						</dict>
						<key>files/formloom-page13.js</key>
						<dict>
							<key>Digest</key>
							<data>
							PGy0uggcNUA2cBscMOeQ
							Rw==
							</data>
							<key>Size</key>
							<integer>81</integer>
						</dict>
						<key>files/formloom-page13.php</key>
						<dict>
							<key>Digest</key>
							<data>
							5IeJTgLNr3d4JHRSfeCQ
							bQ==
							</data>
							<key>Size</key>
							<integer>35706</integer>
						</dict>
						<key>files/icon_alert.png</key>
						<dict>
							<key>Digest</key>
							<data>
							YMyYjm89+cpycRNQRi2M
							/w==
							</data>
							<key>Size</key>
							<integer>657</integer>
						</dict>
						<key>files/icon_good.png</key>
						<dict>
							<key>Digest</key>
							<data>
							wHe/QEvz46VAmeJGmF4Q
							vA==
							</data>
							<key>Size</key>
							<integer>930</integer>
						</dict>
						<key>files/jquery.datepicker.js</key>
						<dict>
							<key>Digest</key>
							<data>
							HW3OvDE1XPtwpSL/Puny
							Gg==
							</data>
							<key>Size</key>
							<integer>33529</integer>
						</dict>
						<key>files/recaptchalib.php</key>
						<dict>
							<key>Digest</key>
							<data>
							q+iFdIzNpuqNFb6Ox0kx
							aQ==
							</data>
							<key>Size</key>
							<integer>9965</integer>
						</dict>
						<key>files/ydfl_browser.php</key>
						<dict>
							<key>Digest</key>
							<data>
							YQ+mVEmJJ55IUB6JD93Q
							ZQ==
							</data>
							<key>Size</key>
							<integer>36488</integer>
						</dict>
						<key>index.php</key>
						<dict>
							<key>Digest</key>
							<data>
							f+cSKjOwkWpEM57kiOf3
							wg==
							</data>
							<key>Size</key>
							<integer>9840</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page13</string>
					<key>SiteRoot</key>
					<string>Support/CreateIssue</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array>
				<string>Data.archive</string>
			</array>
			<key>Subsandwiches</key>
			<array>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
