<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>iCanScript Registration &amp; Download</string>
				<key>ID</key>
				<string>page1</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Custom Style</string>
				<key>PageTitle</key>
				<string>Registration Plugin</string>
				<key>PluginClassName</key>
				<string>YDFormLoomPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Yabdab Inc.</string>
					<key>Name</key>
					<string>FormLoom 2</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2014-09-28T14:37:38Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>D5192229-A6EB-4C56-9F39-F53E9280371A</string>
					<key>PageDigests</key>
					<dict>
						<key>files/class.phpmailer.php</key>
						<dict>
							<key>Digest</key>
							<data>
							MpSefijowvzRXWGS2EEw
							wQ==
							</data>
							<key>Size</key>
							<integer>74526</integer>
						</dict>
						<key>files/class.smtp.php</key>
						<dict>
							<key>Digest</key>
							<data>
							yOnWl8FObkAA9+I+SjcS
							vQ==
							</data>
							<key>Size</key>
							<integer>25613</integer>
						</dict>
						<key>files/formloom-page1.css</key>
						<dict>
							<key>Digest</key>
							<data>
							IueSY4rF9RUe+XJKR+db
							4g==
							</data>
							<key>Size</key>
							<integer>9306</integer>
						</dict>
						<key>files/formloom-page1.js</key>
						<dict>
							<key>Digest</key>
							<data>
							PGy0uggcNUA2cBscMOeQ
							Rw==
							</data>
							<key>Size</key>
							<integer>81</integer>
						</dict>
						<key>files/formloom-page1.php</key>
						<dict>
							<key>Digest</key>
							<data>
							c3Ks5cOcAQdKode6Whel
							Ng==
							</data>
							<key>Size</key>
							<integer>37696</integer>
						</dict>
						<key>files/icon_alert.png</key>
						<dict>
							<key>Digest</key>
							<data>
							YMyYjm89+cpycRNQRi2M
							/w==
							</data>
							<key>Size</key>
							<integer>657</integer>
						</dict>
						<key>files/icon_good.png</key>
						<dict>
							<key>Digest</key>
							<data>
							wHe/QEvz46VAmeJGmF4Q
							vA==
							</data>
							<key>Size</key>
							<integer>930</integer>
						</dict>
						<key>files/jquery.datepicker.js</key>
						<dict>
							<key>Digest</key>
							<data>
							HW3OvDE1XPtwpSL/Puny
							Gg==
							</data>
							<key>Size</key>
							<integer>33529</integer>
						</dict>
						<key>files/recaptchalib.php</key>
						<dict>
							<key>Digest</key>
							<data>
							q+iFdIzNpuqNFb6Ox0kx
							aQ==
							</data>
							<key>Size</key>
							<integer>9965</integer>
						</dict>
						<key>files/ydfl_browser.php</key>
						<dict>
							<key>Digest</key>
							<data>
							YQ+mVEmJJ55IUB6JD93Q
							ZQ==
							</data>
							<key>Size</key>
							<integer>36488</integer>
						</dict>
						<key>index.php</key>
						<dict>
							<key>Digest</key>
							<data>
							QIDI/AMzMxE/QHIminbZ
							1A==
							</data>
							<key>Size</key>
							<integer>10646</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page1</string>
					<key>SiteRoot</key>
					<string>registration/registration-plugin</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array>
				<string>Data.archive</string>
			</array>
			<key>Subsandwiches</key>
			<array>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
