<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>ID</key>
				<string>page6</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Untitled Page 2</string>
				<key>PluginClassName</key>
				<string>RapidLinkPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>omnidea srl</string>
					<key>Name</key>
					<string>RapidLink</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2011-12-19T04:57:27Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>B7560928-39D1-4B36-A679-85500592817E</string>
					<key>PageDigests</key>
					<dict>
						<key>files/9ac7d1da5b8d19fd669699a76735455b.php</key>
						<dict>
							<key>Digest</key>
							<data>
							MXYGuYrQUlGrV46Vcy+t
							Kg==
							</data>
							<key>Size</key>
							<integer>2158</integer>
						</dict>
						<key>files/class.phpmailer.php</key>
						<dict>
							<key>Digest</key>
							<data>
							MpSefijowvzRXWGS2EEw
							wQ==
							</data>
							<key>Size</key>
							<integer>74526</integer>
						</dict>
						<key>files/class.smtp.php</key>
						<dict>
							<key>Digest</key>
							<data>
							CbkTnKTmMylOHfaHreSQ
							Cg==
							</data>
							<key>Size</key>
							<integer>24800</integer>
						</dict>
						<key>files/config.php</key>
						<dict>
							<key>Digest</key>
							<data>
							3C9u4CZiiImgpSqmr3YO
							ZA==
							</data>
							<key>Size</key>
							<integer>2011</integer>
						</dict>
						<key>files/d4421305bf5f06bb5d6957fa92595d24.php</key>
						<dict>
							<key>Digest</key>
							<data>
							SwNBYBSFVtHgUam01U90
							sA==
							</data>
							<key>Size</key>
							<integer>1252</integer>
						</dict>
						<key>files/download.php</key>
						<dict>
							<key>Digest</key>
							<data>
							zsBGgdsqDAccZz+A+deR
							cQ==
							</data>
							<key>Size</key>
							<integer>904</integer>
						</dict>
						<key>files/functions.php</key>
						<dict>
							<key>Digest</key>
							<data>
							hxe3crNKJ1oZ5Ri8jEAk
							Dw==
							</data>
							<key>Size</key>
							<integer>7168</integer>
						</dict>
						<key>index.php</key>
						<dict>
							<key>Digest</key>
							<data>
							v/4Pv/cgqEhO+pkqJ2O7
							qA==
							</data>
							<key>Size</key>
							<integer>5383</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page6</string>
					<key>SiteRoot</key>
					<string>page3/rapidlink</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array>
				<string>Data.archive</string>
			</array>
			<key>Subsandwiches</key>
			<array>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
