<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>iCanScript Support | A place to ask questions, request features, and report bugs.</string>
				<key>CreatedDate</key>
				<date>2014-11-17T02:46:47Z</date>
				<key>ID</key>
				<string>page3</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>&lt;i class="fa fa-question-circle fa-fw"&gt;&lt;/i&gt; Help &amp; Support</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2014-11-24T20:51:03Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>PageDigests</key>
					<dict>
						<key>files/cloud.php</key>
						<dict>
							<key>Digest</key>
							<data>
							HooeGOe7KZ79r9MK1f85
							yQ==
							</data>
							<key>Size</key>
							<integer>9287</integer>
						</dict>
						<key>files/downarrow_black.png</key>
						<dict>
							<key>Digest</key>
							<data>
							Vs+sWHb3g0dIENHVf9Oc
							Dw==
							</data>
							<key>Size</key>
							<integer>211</integer>
						</dict>
						<key>files/downarrow_black50.png</key>
						<dict>
							<key>Digest</key>
							<data>
							pxx2KNNEUwTnrWJmjLER
							/Q==
							</data>
							<key>Size</key>
							<integer>270</integer>
						</dict>
						<key>files/downarrow_white.png</key>
						<dict>
							<key>Digest</key>
							<data>
							NaXu14JGrZjjd0j78gOy
							XQ==
							</data>
							<key>Size</key>
							<integer>226</integer>
						</dict>
						<key>files/downarrow_white50.png</key>
						<dict>
							<key>Digest</key>
							<data>
							7wlayzqD9TfFa8Vqlna8
							iA==
							</data>
							<key>Size</key>
							<integer>254</integer>
						</dict>
						<key>files/menu.js</key>
						<dict>
							<key>Digest</key>
							<data>
							rBvKZy5n26GbF/2oeSwq
							Pw==
							</data>
							<key>Size</key>
							<integer>261</integer>
						</dict>
						<key>files/rightarrow_black.png</key>
						<dict>
							<key>Digest</key>
							<data>
							WenO23B+SoLKR9cGgBJl
							bA==
							</data>
							<key>Size</key>
							<integer>185</integer>
						</dict>
						<key>files/rightarrow_black50.png</key>
						<dict>
							<key>Digest</key>
							<data>
							qkZFYChGmMzksuYbnoyo
							jA==
							</data>
							<key>Size</key>
							<integer>225</integer>
						</dict>
						<key>files/rightarrow_white.png</key>
						<dict>
							<key>Digest</key>
							<data>
							ctM/D0DiPb/vrYNoRjEk
							yA==
							</data>
							<key>Size</key>
							<integer>198</integer>
						</dict>
						<key>files/rightarrow_white50.png</key>
						<dict>
							<key>Digest</key>
							<data>
							1Q9tssLlIvZC8WXh6y3O
							ag==
							</data>
							<key>Size</key>
							<integer>224</integer>
						</dict>
						<key>files/stacks.css</key>
						<dict>
							<key>Digest</key>
							<data>
							83rm1+JQA7LzSaa1k2Ep
							1w==
							</data>
							<key>Size</key>
							<integer>1841</integer>
						</dict>
						<key>files/stacks_ie.css</key>
						<dict>
							<key>Digest</key>
							<data>
							7iAH6PH4xgg0VPXgfbIV
							7Q==
							</data>
							<key>Size</key>
							<integer>229</integer>
						</dict>
						<key>files/stacks_page_page18.css</key>
						<dict>
							<key>Digest</key>
							<data>
							TP6+tCha9BPXb1cPgcKi
							lg==
							</data>
							<key>Size</key>
							<integer>13641</integer>
						</dict>
						<key>files/stacks_page_page18.js</key>
						<dict>
							<key>Digest</key>
							<data>
							ZKjQuTH8ZVmrAOjxYjLH
							SQ==
							</data>
							<key>Size</key>
							<integer>15414</integer>
						</dict>
						<key>files/stacks_page_page3.css</key>
						<dict>
							<key>Digest</key>
							<data>
							JxBRtBgfK1zEdGP9SP0z
							Ag==
							</data>
							<key>Size</key>
							<integer>2268</integer>
						</dict>
						<key>files/stacks_page_page3.js</key>
						<dict>
							<key>Digest</key>
							<data>
							pIPovFQfywsT1mrnQIsc
							HA==
							</data>
							<key>Size</key>
							<integer>3567</integer>
						</dict>
						<key>index.html</key>
						<dict>
							<key>Digest</key>
							<data>
							dduSYHbcbvTsVCtWWv2n
							0w==
							</data>
							<key>Size</key>
							<integer>7667</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page3</string>
					<key>SiteRoot</key>
					<string>helpdesk</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
