<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>ID</key>
				<string>page2</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Order</string>
				<key>PluginClassName</key>
				<string>RapidCartPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>omnidea srl</string>
					<key>Name</key>
					<string>RapidCart</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2011-12-09T03:22:39Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>B7560928-39D1-4B36-A679-85500592817E</string>
					<key>PageDigests</key>
					<dict>
						<key>files/3_Screen_Shot_2011_11_30_at_11_46_07_AM.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							2EeTK3G2l+w/GdEShmt6
							Cw==
							</data>
							<key>Size</key>
							<integer>46835</integer>
						</dict>
						<key>files/3_Screen_Shot_2011_11_30_at_11_46_07_AM_thumb.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							GSwUN4O/mER1E3+Yrepm
							mA==
							</data>
							<key>Size</key>
							<integer>7840</integer>
						</dict>
						<key>files/coupons.php</key>
						<dict>
							<key>Digest</key>
							<data>
							1B2M2Y8AsgTpgAmY7PhC
							fg==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>index.html</key>
						<dict>
							<key>Digest</key>
							<data>
							P+jgNVSlBPGdz45LwqYg
							Qw==
							</data>
							<key>Size</key>
							<integer>9946</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page2</string>
					<key>SiteRoot</key>
					<string>rapidcart</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array>
				<string>Data.archive</string>
			</array>
			<key>Subsandwiches</key>
			<array>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
