<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>ID</key>
				<string>page15</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>FAQ</string>
				<key>PluginClassName</key>
				<string>LHFaqMakerPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>loghound.com</string>
					<key>Name</key>
					<string>FaqMaker</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2011-12-20T15:21:40Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>B7560928-39D1-4B36-A679-85500592817E</string>
					<key>PageDigests</key>
					<dict>
						<key>files/GoodForPrinting_fm.css</key>
						<dict>
							<key>Digest</key>
							<data>
							6VO5gH61ZlKQRT4ggXSU
							qg==
							</data>
							<key>Size</key>
							<integer>1263</integer>
						</dict>
						<key>files/bullet_sub7.png</key>
						<dict>
							<key>Digest</key>
							<data>
							shA9v/VTbKD793nrJSFc
							ig==
							</data>
							<key>Size</key>
							<integer>1405</integer>
						</dict>
						<key>files/crisp_fm.css</key>
						<dict>
							<key>Digest</key>
							<data>
							pU95N/5Ij0xv3sXvpcc0
							xw==
							</data>
							<key>Size</key>
							<integer>1248</integer>
						</dict>
						<key>files/default_fm.css</key>
						<dict>
							<key>Digest</key>
							<data>
							U1ubrP+SCOt2Gv3V30i2
							iA==
							</data>
							<key>Size</key>
							<integer>1115</integer>
						</dict>
						<key>files/faq.pdf</key>
						<dict>
							<key>Digest</key>
							<data>
							1nffwlvRzYpCZpwOtzj7
							9Q==
							</data>
							<key>Size</key>
							<integer>32917</integer>
						</dict>
						<key>files/glossary_fm.css</key>
						<dict>
							<key>Digest</key>
							<data>
							cK0zSwpOTK3WJAiF73My
							9Q==
							</data>
							<key>Size</key>
							<integer>1301</integer>
						</dict>
						<key>files/ipod_fm.css</key>
						<dict>
							<key>Digest</key>
							<data>
							Tj8BxOLG7/jcb0NSyDy0
							Mw==
							</data>
							<key>Size</key>
							<integer>1410</integer>
						</dict>
						<key>files/lastCreated.xml</key>
						<dict>
							<key>Digest</key>
							<data>
							PexbMafUBEF97K/ujVnX
							Xw==
							</data>
							<key>Size</key>
							<integer>1347</integer>
						</dict>
						<key>files/lastModified.xml</key>
						<dict>
							<key>Digest</key>
							<data>
							ArR3V2U1FKBl0YQEK/g4
							kA==
							</data>
							<key>Size</key>
							<integer>1347</integer>
						</dict>
						<key>files/pdf.png</key>
						<dict>
							<key>Digest</key>
							<data>
							5dJNiqPzW/lZ2SdD0lNO
							qw==
							</data>
							<key>Size</key>
							<integer>4858</integer>
						</dict>
						<key>files/pdfrender.html</key>
						<dict>
							<key>Digest</key>
							<data>
							jnRRpuqes1SPJu9e2nY6
							Fg==
							</data>
							<key>Size</key>
							<integer>2830</integer>
						</dict>
						<key>files/secondary.png</key>
						<dict>
							<key>Digest</key>
							<data>
							ukEuibFiGpLeLUZS1+WS
							HA==
							</data>
							<key>Size</key>
							<integer>1459</integer>
						</dict>
						<key>files/sidebar_fm.css</key>
						<dict>
							<key>Digest</key>
							<data>
							ztb+1RGQ02r63nQ0/CBQ
							0Q==
							</data>
							<key>Size</key>
							<integer>1118</integer>
						</dict>
						<key>files/slice_fm.css</key>
						<dict>
							<key>Digest</key>
							<data>
							ARukWY9y0QGjjHkkRJ0H
							Ww==
							</data>
							<key>Size</key>
							<integer>1496</integer>
						</dict>
						<key>files/small_right_grey_arrow.png</key>
						<dict>
							<key>Digest</key>
							<data>
							vH4PExaMjTGY/rSi4iKo
							Wg==
							</data>
							<key>Size</key>
							<integer>262</integer>
						</dict>
						<key>files/ss.js</key>
						<dict>
							<key>Digest</key>
							<data>
							YJv1X9v2SFzrghe/ILZb
							ww==
							</data>
							<key>Size</key>
							<integer>11898</integer>
						</dict>
						<key>files/ss_wp.css</key>
						<dict>
							<key>Digest</key>
							<data>
							aGjCMshz5YUVr8CA5IkO
							qw==
							</data>
							<key>Size</key>
							<integer>2257</integer>
						</dict>
						<key>files/subversion_fm.css</key>
						<dict>
							<key>Digest</key>
							<data>
							JeGTUj8pFQ/e7eQF0HtR
							uA==
							</data>
							<key>Size</key>
							<integer>1067</integer>
						</dict>
						<key>files/usatoday_fm.css</key>
						<dict>
							<key>Digest</key>
							<data>
							AfPT4PdMn60LE+fiE0dR
							3Q==
							</data>
							<key>Size</key>
							<integer>843</integer>
						</dict>
						<key>index.html</key>
						<dict>
							<key>Digest</key>
							<data>
							m3ZPSeIaqfxphL2G/CB9
							2w==
							</data>
							<key>Size</key>
							<integer>7164</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page15</string>
					<key>SiteRoot</key>
					<string>Download/page15</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array>
				<string>Data.archive</string>
			</array>
			<key>Subsandwiches</key>
			<array>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
