<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>ID</key>
				<string>page5</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Untitled Page</string>
				<key>PluginClassName</key>
				<string>RapidCartPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>omnidea srl</string>
					<key>Name</key>
					<string>RapidCart</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2011-12-16T05:19:02Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>B7560928-39D1-4B36-A679-85500592817E</string>
					<key>PageDigests</key>
					<dict>
						<key>files/5_1321474053_d12_128x128.png</key>
						<dict>
							<key>Digest</key>
							<data>
							v7rNgvoCJTb+FEkg3/E2
							SQ==
							</data>
							<key>Size</key>
							<integer>31058</integer>
						</dict>
						<key>files/5_1321474053_d12_128x128_thumb.png</key>
						<dict>
							<key>Digest</key>
							<data>
							FFfo9BRIsBuS/94kc7JY
							PA==
							</data>
							<key>Size</key>
							<integer>13667</integer>
						</dict>
						<key>files/6_Dice_32.png</key>
						<dict>
							<key>Digest</key>
							<data>
							D8yEe2DggNM+dX1/ubkY
							nA==
							</data>
							<key>Size</key>
							<integer>7922</integer>
						</dict>
						<key>files/6_Dice_32_thumb.png</key>
						<dict>
							<key>Digest</key>
							<data>
							GJzJY4pGmeLsDZPeRk2+
							SQ==
							</data>
							<key>Size</key>
							<integer>12549</integer>
						</dict>
						<key>files/coupons.php</key>
						<dict>
							<key>Digest</key>
							<data>
							1B2M2Y8AsgTpgAmY7PhC
							fg==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>index.html</key>
						<dict>
							<key>Digest</key>
							<data>
							lNWtSSuGZrz0Rx2HR8S/
							Pg==
							</data>
							<key>Size</key>
							<integer>14542</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page5</string>
					<key>SiteRoot</key>
					<string>page3/rapidcart</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array>
				<string>Data.archive</string>
			</array>
			<key>Subsandwiches</key>
			<array>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
