<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>HomePage</key>
				<string>1-003Ci-class003D0022fa-fa-home-fa-fw0022003E003C002Fi003E-Home</string>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>1-003Ci-class003D0022fa-fa-home-fa-fw0022003E003C002Fi003E-Home</string>
				<string>2-003Ci-class003D0022fa-fa-download-fa-fw0022003E003C002Fi003E-Downloads</string>
				<string>3-003Ci-class003D0022fa-fa-film-fa-fw0022003E003C002Fi003E-Screencasts</string>
				<string>4-003Ci-class003D0022fa-fa-question-circle-fa-fw0022003E003C002Fi003E-Help-0026-Support</string>
				<string>5-Page-Footer</string>
				<string>6-PlusKit</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Pages</string>
</dict>
</plist>
