<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>ID</key>
				<string>page4</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Custom Style</string>
				<key>PageTitle</key>
				<string>News</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2012-01-12T03:45:46Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>B7560928-39D1-4B36-A679-85500592817E</string>
					<key>PageDigests</key>
					<dict>
						<key>files/76218bf1521d261cf3b96febe2955659-0.html</key>
						<dict>
							<key>Digest</key>
							<data>
							UPWyDsdYchevsMoxPUCe
							hA==
							</data>
							<key>Size</key>
							<integer>5470</integer>
						</dict>
						<key>files/archive-dec-2011.html</key>
						<dict>
							<key>Digest</key>
							<data>
							6HdPCYkhp4OEWrXlyQMG
							8w==
							</data>
							<key>Size</key>
							<integer>6160</integer>
						</dict>
						<key>files/e36b6db92cc66cf91e5242448a727c1d-1.html</key>
						<dict>
							<key>Digest</key>
							<data>
							ixhps38KKeMZYicQZypO
							yw==
							</data>
							<key>Size</key>
							<integer>5505</integer>
						</dict>
						<key>files/feed.xml</key>
						<dict>
							<key>Digest</key>
							<data>
							6Lbt7MMuWXUC8DcjfOnJ
							aA==
							</data>
							<key>Size</key>
							<integer>1742</integer>
						</dict>
						<key>index.html</key>
						<dict>
							<key>Digest</key>
							<data>
							TI3EGPcgcRBrpZqkqAOk
							OA==
							</data>
							<key>Size</key>
							<integer>5869</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page4</string>
					<key>SiteRoot</key>
					<string>News</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
