<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>ID</key>
				<string>page4</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Custom Style</string>
				<key>PageTitle</key>
				<string>News</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2011-12-21T11:54:54Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>B7560928-39D1-4B36-A679-85500592817E</string>
					<key>PageDigests</key>
					<dict>
						<key>files/76218bf1521d261cf3b96febe2955659-0.html</key>
						<dict>
							<key>Digest</key>
							<data>
							rWaA0U6esP8e7Odh5OmM
							ew==
							</data>
							<key>Size</key>
							<integer>5367</integer>
						</dict>
						<key>files/archive-dec-2011.html</key>
						<dict>
							<key>Digest</key>
							<data>
							P7vVEzmUzTtuzXsEXohA
							zA==
							</data>
							<key>Size</key>
							<integer>6104</integer>
						</dict>
						<key>files/e36b6db92cc66cf91e5242448a727c1d-1.html</key>
						<dict>
							<key>Digest</key>
							<data>
							ixhps38KKeMZYicQZypO
							yw==
							</data>
							<key>Size</key>
							<integer>5505</integer>
						</dict>
						<key>files/feed.xml</key>
						<dict>
							<key>Digest</key>
							<data>
							mbDCAd+EZiu/D3bQH/Tw
							yA==
							</data>
							<key>Size</key>
							<integer>1686</integer>
						</dict>
						<key>index.html</key>
						<dict>
							<key>Digest</key>
							<data>
							HsowbC+ET0OS5IJhSGOw
							NQ==
							</data>
							<key>Size</key>
							<integer>5813</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page4</string>
					<key>SiteRoot</key>
					<string>News</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
