<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>iCanScript Download | Download the Community Edition and Example Projects</string>
				<key>CreatedDate</key>
				<date>2014-11-17T02:44:15Z</date>
				<key>ID</key>
				<string>page1</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>&lt;i class="fa fa-download fa-fw"&gt;&lt;/i&gt; Downloads</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2014-11-24T20:51:00Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>PageDigests</key>
					<dict>
						<key>files/cloud.php</key>
						<dict>
							<key>Digest</key>
							<data>
							HooeGOe7KZ79r9MK1f85
							yQ==
							</data>
							<key>Size</key>
							<integer>9287</integer>
						</dict>
						<key>files/stacks.css</key>
						<dict>
							<key>Digest</key>
							<data>
							83rm1+JQA7LzSaa1k2Ep
							1w==
							</data>
							<key>Size</key>
							<integer>1841</integer>
						</dict>
						<key>files/stacks_ie.css</key>
						<dict>
							<key>Digest</key>
							<data>
							7iAH6PH4xgg0VPXgfbIV
							7Q==
							</data>
							<key>Size</key>
							<integer>229</integer>
						</dict>
						<key>files/stacks_image_166.png</key>
						<dict>
							<key>Digest</key>
							<data>
							u6mD1crN7dkvtu6agXlH
							fg==
							</data>
							<key>Size</key>
							<integer>60197</integer>
						</dict>
						<key>files/stacks_image_168.png</key>
						<dict>
							<key>Digest</key>
							<data>
							DGDdlriftNj8nbQu+P9Y
							8A==
							</data>
							<key>Size</key>
							<integer>207737</integer>
						</dict>
						<key>files/stacks_page_page1.css</key>
						<dict>
							<key>Digest</key>
							<data>
							TNShBB5PuYh5CS7+10ds
							Aw==
							</data>
							<key>Size</key>
							<integer>4781</integer>
						</dict>
						<key>files/stacks_page_page1.js</key>
						<dict>
							<key>Digest</key>
							<data>
							eQf6Fl1tVnkM3gIkJAKO
							rw==
							</data>
							<key>Size</key>
							<integer>14224</integer>
						</dict>
						<key>files/stacks_page_page5.css</key>
						<dict>
							<key>Digest</key>
							<data>
							4RG+WKctHHir+myxwXOZ
							1Q==
							</data>
							<key>Size</key>
							<integer>1433</integer>
						</dict>
						<key>files/stacks_page_page5.js</key>
						<dict>
							<key>Digest</key>
							<data>
							6BgWKekqTHOT6kU+6Y5P
							7Q==
							</data>
							<key>Size</key>
							<integer>1350</integer>
						</dict>
						<key>files/thumb_165.png</key>
						<dict>
							<key>Digest</key>
							<data>
							E4pKSSQgtSLQwk6FkQOz
							GA==
							</data>
							<key>Size</key>
							<integer>31012</integer>
						</dict>
						<key>files/thumb_167.png</key>
						<dict>
							<key>Digest</key>
							<data>
							Hv5hXdkcJEQG0KAXizr3
							RA==
							</data>
							<key>Size</key>
							<integer>101850</integer>
						</dict>
						<key>index.html</key>
						<dict>
							<key>Digest</key>
							<data>
							2zP3Tk8h4OdZs5am3xAl
							8w==
							</data>
							<key>Size</key>
							<integer>7875</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page1</string>
					<key>SiteRoot</key>
					<string>downloads</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
