<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>ID</key>
				<string>page4</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Custom Style</string>
				<key>PageTitle</key>
				<string>News</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2011-12-20T04:04:27Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>B7560928-39D1-4B36-A679-85500592817E</string>
					<key>PageDigests</key>
					<dict>
						<key>files/76218bf1521d261cf3b96febe2955659-0.html</key>
						<dict>
							<key>Digest</key>
							<data>
							Td0ATYSNy1KP1PkcFwHK
							Ag==
							</data>
							<key>Size</key>
							<integer>5001</integer>
						</dict>
						<key>files/archive-dec-2011.html</key>
						<dict>
							<key>Digest</key>
							<data>
							0Yi1LOq8cg1jvJblxgrD
							2w==
							</data>
							<key>Size</key>
							<integer>5738</integer>
						</dict>
						<key>files/e36b6db92cc66cf91e5242448a727c1d-1.html</key>
						<dict>
							<key>Digest</key>
							<data>
							eINhkEt+1BfX/7c2nml/
							4Q==
							</data>
							<key>Size</key>
							<integer>5139</integer>
						</dict>
						<key>files/feed.xml</key>
						<dict>
							<key>Digest</key>
							<data>
							hHoOGnxUCdrGMwy2sGPF
							AA==
							</data>
							<key>Size</key>
							<integer>1718</integer>
						</dict>
						<key>index.html</key>
						<dict>
							<key>Digest</key>
							<data>
							li9eIt6FPPC13Nr/PNfN
							Eg==
							</data>
							<key>Size</key>
							<integer>5456</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page4</string>
					<key>SiteRoot</key>
					<string>Support/News</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
