<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>txt</key>
	<string>Contents Description Project Plan Notes Behaviour Execution Signature Action Items Clippings Feedback and Issues Futures Multidex Text Capitalized Words Numbers Internet Addresses Highlighting Keywords Stickers To Do Items Attachments Discarded Attachments Creation Dates Change Dates Due Dates Super-Find Results </string>
</dict>
</plist>
