<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>ColourStyles</key>
				<dict>
					<key>Affero</key>
					<dict/>
					<key>Blueball FreeStack Responsive</key>
					<dict>
						<key>%colour_breadcrumblink%</key>
						<string>#FF8008</string>
						<key>%colour_sidebarlinkvisit%</key>
						<string>#000000</string>
						<key>%colour_title%</key>
						<string>#FF8000</string>
					</dict>
					<key>Dashboard</key>
					<dict/>
					<key>E Quinox</key>
					<dict/>
					<key>Reason</key>
					<dict/>
					<key>Split</key>
					<dict/>
					<key>Tesla</key>
					<dict/>
					<key>Veerle</key>
					<dict/>
					<key>iCanScript-Dashboard</key>
					<dict/>
				</dict>
				<key>CreditRapidWeaver</key>
				<true/>
				<key>DefaultLinkTarget</key>
				<string></string>
				<key>FilenameExtension</key>
				<string>html</string>
				<key>HasCustomThemeStyle</key>
				<false/>
				<key>ImageFormat</key>
				<string>Original</string>
				<key>ImageQuality</key>
				<string>High</string>
				<key>IndexFilename</key>
				<string></string>
				<key>OutputFormat</key>
				<string>Default</string>
				<key>OutputXMLDeclaration</key>
				<false/>
				<key>SidebarEnabled</key>
				<integer>1</integer>
				<key>TextEncoding</key>
				<string>utf-8</string>
				<key>ThemeStyles</key>
				<dict>
					<key>Affero</key>
					<array>
						<string>Body Font.Helvetica (default)</string>
						<string>Title Font.Source Code (default)</string>
						<string>Toggles.Content Accent</string>
						<string>Toggles.Featured Image</string>
						<string>Toggles.Hide Last Update</string>
					</array>
					<key>Blueball FreeStack Responsive</key>
					<array>
						<string> Body Backgrd Images (Add images to "Resources" folder.No Body Backgrd Image</string>
						<string>Body Background Image Repeat (Tiling).Repeat (Default)</string>
						<string>Colour Picker Options.Body Background Color</string>
						<string>Content Font Styles.Helvetica Content (default)</string>
						<string>Footer Text Alignment.Footer Left (default)</string>
						<string>Global Font Size.Font Size Normal (default)</string>
						<string>Headline Font Styles.Helvetica Headline</string>
						<string>Links Underline.Link On, Hover Off (default)</string>
						<string>Nav Menu Font Styles.Helvetica Nav Menu (default)</string>
						<string>Sidebar Header Alignment.Sidebar Header Left (default)</string>
					</array>
					<key>Dashboard</key>
					<array>
						<string>Content Heading Size.0</string>
						<string>Main Content Text Size.0</string>
						<string>Max Width.No Limit</string>
						<string>Nav Text Size.0</string>
						<string>Page Load Effect.Unfold</string>
						<string>Shadow Layers.100%</string>
						<string>Sidebar Text Size.0</string>
						<string>Sidebar Title Size.0</string>
						<string>Sidebar Top Spacing (Desktop).No Spacing</string>
						<string>Site Title Size.0</string>
						<string>Theme Tools.Dashboard 1.1.7</string>
						<string>Theme Tools.Hide Sidebar Column</string>
					</array>
					<key>Reason</key>
					<array>
						<string>Background.Wood</string>
						<string>Banner Height.400px</string>
						<string>Banner Image.Banner 1</string>
						<string>Header Opacity.0.4</string>
						<string>Max Width.1000px</string>
						<string>Navigation Opacity.0.4</string>
						<string>Sidebar Position.Bottom</string>
						<string>Text Size.Medium</string>
					</array>
					<key>Split</key>
					<array>
						<string>Font Family.Ubuntu</string>
						<string>Font Size.Normal</string>
						<string>Header.Header 1</string>
						<string>Max-Width.1068px</string>
						<string>Sidebar.Hidden</string>
					</array>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array/>
		</dict>
	</array>
	<key>Type</key>
	<string>Page Attributes</string>
</dict>
</plist>
