<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>Minimum Application Version</key>
	<string>5.0b1</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>PublishingManifest</key>
				<dict>
					<key>rw:plugin:stacks</key>
					<dict>
						<key>CreationDate</key>
						<date>2011-12-15T03:56:08Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>DocumentGUID</key>
						<string>B7560928-39D1-4B36-A679-85500592817E</string>
						<key>PageDigests</key>
						<dict>
							<key>stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								Z7M2+k+nTYMv
								S8RIXHdH9w==
								</data>
								<key>Size</key>
								<integer>1882</integer>
							</dict>
							<key>stacks_ie.css</key>
							<dict>
								<key>Digest</key>
								<data>
								7iAH6PH4xgg0
								VPXgfbIV7Q==
								</data>
								<key>Size</key>
								<integer>229</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:plugin:stacks</string>
						<key>SiteRoot</key>
						<string>rw_common/plugins/stacks</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:theme:alpha</key>
					<dict>
						<key>CreationDate</key>
						<date>2011-12-15T03:56:08Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>DocumentGUID</key>
						<string>B7560928-39D1-4B36-A679-85500592817E</string>
						<key>PageDigests</key>
						<dict>
							<key>colourtag-theme-default.css</key>
							<dict>
								<key>Digest</key>
								<data>
								zpweDKZiKxNB
								3iZ9genaXA==
								</data>
								<key>Size</key>
								<integer>1601</integer>
							</dict>
							<key>css/sidebar/sidebar_hide.css</key>
							<dict>
								<key>Digest</key>
								<data>
								QLUZUff4SC8B
								sFsDK9gWcA==
								</data>
								<key>Size</key>
								<integer>96</integer>
							</dict>
							<key>css/sidebar/sidebar_left.css</key>
							<dict>
								<key>Digest</key>
								<data>
								bhbHykuXzCYm
								D6Hxg09PKQ==
								</data>
								<key>Size</key>
								<integer>144</integer>
							</dict>
							<key>css/sidebar/sidebar_right.css</key>
							<dict>
								<key>Digest</key>
								<data>
								pOuqHQ0wJ98w
								OkkL4cIbhQ==
								</data>
								<key>Size</key>
								<integer>238</integer>
							</dict>
							<key>css/width/1000.css</key>
							<dict>
								<key>Digest</key>
								<data>
								SPPv2JkgjDMy
								KVyKRGAC/g==
								</data>
								<key>Size</key>
								<integer>130</integer>
							</dict>
							<key>css/width/600.css</key>
							<dict>
								<key>Digest</key>
								<data>
								u40dgB+GJ8B8
								GUVIDKSdJQ==
								</data>
								<key>Size</key>
								<integer>128</integer>
							</dict>
							<key>css/width/700.css</key>
							<dict>
								<key>Digest</key>
								<data>
								vx33HmMNzL8Y
								OFByuzXRcg==
								</data>
								<key>Size</key>
								<integer>128</integer>
							</dict>
							<key>css/width/800.css</key>
							<dict>
								<key>Digest</key>
								<data>
								OqO6oUtwiftB
								fZlnqtF60g==
								</data>
								<key>Size</key>
								<integer>128</integer>
							</dict>
							<key>css/width/900.css</key>
							<dict>
								<key>Digest</key>
								<data>
								93YSWXQEhV8p
								nJ1MUou5PA==
								</data>
								<key>Size</key>
								<integer>128</integer>
							</dict>
							<key>css/width/variable.css</key>
							<dict>
								<key>Digest</key>
								<data>
								QnxICoZeW9mY
								zolLhlky8A==
								</data>
								<key>Size</key>
								<integer>125</integer>
							</dict>
							<key>csshover.htc</key>
							<dict>
								<key>Digest</key>
								<data>
								3PlhR0K8SPXN
								BkFVAY67hA==
								</data>
								<key>Size</key>
								<integer>4236</integer>
							</dict>
							<key>handheld.css</key>
							<dict>
								<key>Digest</key>
								<data>
								07dAiKdfcAsY
								fWEcJvxr5g==
								</data>
								<key>Size</key>
								<integer>6005</integer>
							</dict>
							<key>ie6.css</key>
							<dict>
								<key>Digest</key>
								<data>
								8JKKAq1/Zr9Q
								mNuH+zgT8A==
								</data>
								<key>Size</key>
								<integer>156</integer>
							</dict>
							<key>images/body_grad.png</key>
							<dict>
								<key>Digest</key>
								<data>
								V62dWRq8I1Th
								soiN5UsevQ==
								</data>
								<key>Size</key>
								<integer>15266</integer>
							</dict>
							<key>images/category.png</key>
							<dict>
								<key>Digest</key>
								<data>
								+kx7nrsnzTUb
								Vbp5fupXFQ==
								</data>
								<key>Size</key>
								<integer>331</integer>
							</dict>
							<key>images/clock.png</key>
							<dict>
								<key>Digest</key>
								<data>
								0Kg+3GFLidh1
								JMLHVaH0Xw==
								</data>
								<key>Size</key>
								<integer>408</integer>
							</dict>
							<key>images/comments.png</key>
							<dict>
								<key>Digest</key>
								<data>
								HayVh33P8v99
								zOctuL7q4g==
								</data>
								<key>Size</key>
								<integer>399</integer>
							</dict>
							<key>images/content_top_grad.png</key>
							<dict>
								<key>Digest</key>
								<data>
								YRvJAl+eiubW
								Y3tOHg7Gzw==
								</data>
								<key>Size</key>
								<integer>3818</integer>
							</dict>
							<key>images/header_top2_grad.png</key>
							<dict>
								<key>Digest</key>
								<data>
								LLsAxLYh4yzc
								I8oLTR8z4g==
								</data>
								<key>Size</key>
								<integer>1273</integer>
							</dict>
							<key>images/header_top_grad.png</key>
							<dict>
								<key>Digest</key>
								<data>
								1pd5V9/XwVHQ
								SDtHotifBg==
								</data>
								<key>Size</key>
								<integer>2196</integer>
							</dict>
							<key>images/permalink.png</key>
							<dict>
								<key>Digest</key>
								<data>
								wRkXKFo1Tvog
								FpFoyHPc7Q==
								</data>
								<key>Size</key>
								<integer>320</integer>
							</dict>
							<key>images/rss_icon.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ru9ucG8WBOGL
								yYO4AfY4XA==
								</data>
								<key>Size</key>
								<integer>497</integer>
							</dict>
							<key>images/trackback.png</key>
							<dict>
								<key>Digest</key>
								<data>
								C4jJ9nltXoUm
								gv3oLD2rRQ==
								</data>
								<key>Size</key>
								<integer>333</integer>
							</dict>
							<key>javascript.js</key>
							<dict>
								<key>Digest</key>
								<data>
								n0dN9DfVcKHY
								MmVnniBKtw==
								</data>
								<key>Size</key>
								<integer>14608</integer>
							</dict>
							<key>png/blank.gif</key>
							<dict>
								<key>Digest</key>
								<data>
								VjmOdr5jVa1Z
								mbJiIIoXyQ==
								</data>
								<key>Size</key>
								<integer>49</integer>
							</dict>
							<key>png/pngbehavior.htc</key>
							<dict>
								<key>Digest</key>
								<data>
								mJQ2Vl45EOal
								gIlTtCq+yw==
								</data>
								<key>Size</key>
								<integer>2029</integer>
							</dict>
							<key>print.css</key>
							<dict>
								<key>Digest</key>
								<data>
								iezQ8899+O5j
								nHKzWNWPWg==
								</data>
								<key>Size</key>
								<integer>3818</integer>
							</dict>
							<key>styles.css</key>
							<dict>
								<key>Digest</key>
								<data>
								0HtKI6qsLD6e
								XZkS9EGV5Q==
								</data>
								<key>Size</key>
								<integer>15660</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:theme:alpha</string>
						<key>SiteRoot</key>
						<string>rw_common/themes/alpha</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUIVVZUJHRvcFgkb2JqZWN0c1gk
				dmVyc2lvblkkYXJjaGl2ZXLRBgdUcm9vdIABrxAQCQoR
				HSAnLDA0ODxASEtPU1UkbnVsbNILDA0QWk5TLm9iamVj
				dHNWJGNsYXNzog4PgAKAC4AP1hITFAwVFhcYGRobHFhO
				b2RlIE1hcFlSZXNvdXJjZXNYUGF0aCBNYXBeSWRlbnRp
				ZmllciBNYXBYUGFnZSBNYXCAB4ADgAmACoAFgAjSCwwe
				H6CABNIhIiMkWCRjbGFzc2VzWiRjbGFzc25hbWWjJCUm
				XE5TTXV0YWJsZVNldFVOU1NldFhOU09iamVjdNMLKAwp
				KitXTlMua2V5c6CggAbSISItLqMuLyZfEBNOU011dGFi
				bGVEaWN0aW9uYXJ5XE5TRGljdGlvbmFyedMLKAwxMiug
				oIAG0wsoDDU2K6CggAbTCygMOToroKCABtIhIj0/oj4m
				XxASUldSZXNvdXJjZURhdGFiYXNlXxASUldSZXNvdXJj
				ZURhdGFiYXNl1EEMQkNERUZGWENoaWxkcmVuXxASUmVw
				cmVzZW50ZWQgT2JqZWN0VlBhcmVudIAMgA6AAIAA0gsM
				SUqggA3SISJMTaNNTiZeTlNNdXRhYmxlQXJyYXlXTlNB
				cnJhedIhIlBSolEmXxAQUldTb3VyY2VMaXN0Tm9kZV8Q
				EFJXU291cmNlTGlzdE5vZGXSISJUTqJOJhIAAYagXxAP
				TlNLZXllZEFyY2hpdmVyAAgAEQAWAB8AKAAyADUAOgA8
				AE8AVQBaAGUAbABvAHEAcwB1AIIAiwCVAJ4ArQC2ALgA
				ugC8AL4AwADCAMcAyADKAM8A2ADjAOcA9AD6AQMBCgES
				ARMBFAEWARsBHwE1AUIBSQFKAUsBTQFUAVUBVgFYAV8B
				YAFhAWMBaAFrAYABlQGeAacBvAHDAcUBxwHJAcsB0AHR
				AdMB2AHcAesB8wH4AfsCDgIhAiYCKQIuAAAAAAAAAgEA
				AAAAAAAAVwAAAAAAAAAAAAAAAAAAAkA=
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>BaseURL</key>
					<string>http://www.disruptive-sw.com/</string>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact</string>
					<key>CopyrightText</key>
					<string>© 2011 Disruptive Software</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<false/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.html</string>
						<string>index.php</string>
					</array>
					<key>EmailAddress</key>
					<string>michel.launier@me.com</string>
					<key>FavIconUsed</key>
					<false/>
					<key>LogoUsed</key>
					<false/>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PreviewAfterExportRelativeToBaseURL</key>
					<false/>
					<key>ProcessPHP</key>
					<false/>
					<key>PublishingSettings</key>
					<dict>
						<key>publisher</key>
						<string>FTP</string>
						<key>settings</key>
						<dict>
							<key>anonymous</key>
							<false/>
							<key>enablePublicKeyAuthentication</key>
							<false/>
							<key>passiveMode</key>
							<true/>
							<key>path</key>
							<string>/</string>
							<key>privateKeyPath</key>
							<string></string>
							<key>publicKeyPath</key>
							<string></string>
							<key>server</key>
							<string>www.disruptive-sw.com</string>
							<key>sftp</key>
							<false/>
							<key>user</key>
							<string>reinual</string>
						</dict>
					</dict>
					<key>PublishingSettingsConfigured</key>
					<true/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowTidiedCode</key>
					<false/>
					<key>SloganText</key>
					<string>Changing the world, one node at a time…</string>
					<key>SloganUsed</key>
					<true/>
					<key>ThemeName</key>
					<string>Alpha</string>
					<key>TitleText</key>
					<string>iCanScript</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UUID</key>
					<string>B7560928-39D1-4B36-A679-85500592817E</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>WebClipIconUsed</key>
					<false/>
					<key>putGoogleAnalyticsInHead</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array>
				<string>README.txt</string>
			</array>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
