<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>Minimum Application Version</key>
	<string>5.0b1</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>PublishingManifest</key>
				<dict>
					<key>rw:document:resources</key>
					<dict>
						<key>CreationDate</key>
						<date>2011-12-20T15:40:00Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>DocumentGUID</key>
						<string>B7560928-39D1-4B36-A679-85500592817E</string>
						<key>PageDigests</key>
						<dict>
							<key>iCanScript-v0.8.5.unitypackage</key>
							<dict>
								<key>Digest</key>
								<data>
								HONsrLYLbndT
								TzREE4L3dg==
								</data>
								<key>Size</key>
								<integer>644416</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:document:resources</string>
						<key>SiteRoot</key>
						<string>resources</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:plugin:accordion</key>
					<dict>
						<key>CreationDate</key>
						<date>2011-12-20T15:40:02Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>DocumentGUID</key>
						<string>B7560928-39D1-4B36-A679-85500592817E</string>
						<key>PageDigests</key>
						<dict>
							<key>accordion.css</key>
							<dict>
								<key>Digest</key>
								<data>
								5Z+ymNTZoUky
								7ehMSms1iQ==
								</data>
								<key>Size</key>
								<integer>478</integer>
							</dict>
							<key>accordion.js</key>
							<dict>
								<key>Digest</key>
								<data>
								qKGyxTLLdidb
								S8FnFAOSGA==
								</data>
								<key>Size</key>
								<integer>2010</integer>
							</dict>
							<key>mootools-1.2.3.js</key>
							<dict>
								<key>Digest</key>
								<data>
								EjGWc9wlE6nH
								MGFNoNpLGg==
								</data>
								<key>Size</key>
								<integer>163005</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:plugin:accordion</string>
						<key>SiteRoot</key>
						<string>rw_common/plugins/accordion</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:plugin:blog</key>
					<dict>
						<key>CreationDate</key>
						<date>2011-12-20T15:40:01Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>DocumentGUID</key>
						<string>B7560928-39D1-4B36-A679-85500592817E</string>
						<key>PageDigests</key>
						<dict>
							<key>rss.gif</key>
							<dict>
								<key>Digest</key>
								<data>
								ySu0h74kFZbd
								w1d11rHDPA==
								</data>
								<key>Size</key>
								<integer>219</integer>
							</dict>
							<key>smiley_angry.png</key>
							<dict>
								<key>Digest</key>
								<data>
								OsvBGlBtLs1C
								xAB3/F5vkA==
								</data>
								<key>Size</key>
								<integer>1275</integer>
							</dict>
							<key>smiley_embarrassed.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Ok+zrbTJSQbz
								YHvbtXa5FQ==
								</data>
								<key>Size</key>
								<integer>1310</integer>
							</dict>
							<key>smiley_footinmouth.png</key>
							<dict>
								<key>Digest</key>
								<data>
								oNlmERQNe+Jv
								bhxYf6Q/sQ==
								</data>
								<key>Size</key>
								<integer>1254</integer>
							</dict>
							<key>smiley_gasp.png</key>
							<dict>
								<key>Digest</key>
								<data>
								3fIF+LsL4I97
								3PnZdsHYdg==
								</data>
								<key>Size</key>
								<integer>1208</integer>
							</dict>
							<key>smiley_laugh.png</key>
							<dict>
								<key>Digest</key>
								<data>
								aiKkmJLIzkmw
								I7ENY7ns/A==
								</data>
								<key>Size</key>
								<integer>1283</integer>
							</dict>
							<key>smiley_sad.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JrI6GFcEDYoD
								NPeCi0NJDQ==
								</data>
								<key>Size</key>
								<integer>1263</integer>
							</dict>
							<key>smiley_smile.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ek1FWaeOXYzG
								u9xa5IUf6A==
								</data>
								<key>Size</key>
								<integer>1240</integer>
							</dict>
							<key>smiley_wink.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zIRR5aU+gUMZ
								uXop1aVLFA==
								</data>
								<key>Size</key>
								<integer>1236</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:plugin:blog</string>
						<key>SiteRoot</key>
						<string>rw_common/plugins/blog</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:plugin:stacks</key>
					<dict>
						<key>CreationDate</key>
						<date>2011-12-20T15:40:06Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>DocumentGUID</key>
						<string>B7560928-39D1-4B36-A679-85500592817E</string>
						<key>PageDigests</key>
						<dict>
							<key>stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								83rm1+JQA7Lz
								Saa1k2Ep1w==
								</data>
								<key>Size</key>
								<integer>1841</integer>
							</dict>
							<key>stacks_ie.css</key>
							<dict>
								<key>Digest</key>
								<data>
								7iAH6PH4xgg0
								VPXgfbIV7Q==
								</data>
								<key>Size</key>
								<integer>229</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:plugin:stacks</string>
						<key>SiteRoot</key>
						<string>rw_common/plugins/stacks</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:theme:e_quinox</key>
					<dict>
						<key>CreationDate</key>
						<date>2011-12-20T15:40:06Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>DocumentGUID</key>
						<string>B7560928-39D1-4B36-A679-85500592817E</string>
						<key>PageDigests</key>
						<dict>
							<key>colour_tags-page10.css</key>
							<dict>
								<key>Digest</key>
								<data>
								1vUQk7iezoLy
								e0YzMCVTLw==
								</data>
								<key>Size</key>
								<integer>1991</integer>
							</dict>
							<key>colour_tags-page11.css</key>
							<dict>
								<key>Digest</key>
								<data>
								1vUQk7iezoLy
								e0YzMCVTLw==
								</data>
								<key>Size</key>
								<integer>1991</integer>
							</dict>
							<key>colour_tags-page12.css</key>
							<dict>
								<key>Digest</key>
								<data>
								1vUQk7iezoLy
								e0YzMCVTLw==
								</data>
								<key>Size</key>
								<integer>1991</integer>
							</dict>
							<key>colour_tags-page13.css</key>
							<dict>
								<key>Digest</key>
								<data>
								1vUQk7iezoLy
								e0YzMCVTLw==
								</data>
								<key>Size</key>
								<integer>1991</integer>
							</dict>
							<key>colour_tags-page16.css</key>
							<dict>
								<key>Digest</key>
								<data>
								1vUQk7iezoLy
								e0YzMCVTLw==
								</data>
								<key>Size</key>
								<integer>1991</integer>
							</dict>
							<key>colour_tags-page2.css</key>
							<dict>
								<key>Digest</key>
								<data>
								1vUQk7iezoLy
								e0YzMCVTLw==
								</data>
								<key>Size</key>
								<integer>1991</integer>
							</dict>
							<key>colour_tags-page3.css</key>
							<dict>
								<key>Digest</key>
								<data>
								1vUQk7iezoLy
								e0YzMCVTLw==
								</data>
								<key>Size</key>
								<integer>1991</integer>
							</dict>
							<key>colour_tags-page4.css</key>
							<dict>
								<key>Digest</key>
								<data>
								1vUQk7iezoLy
								e0YzMCVTLw==
								</data>
								<key>Size</key>
								<integer>1991</integer>
							</dict>
							<key>colour_tags-page5.css</key>
							<dict>
								<key>Digest</key>
								<data>
								1vUQk7iezoLy
								e0YzMCVTLw==
								</data>
								<key>Size</key>
								<integer>1991</integer>
							</dict>
							<key>colour_tags-page6.css</key>
							<dict>
								<key>Digest</key>
								<data>
								1vUQk7iezoLy
								e0YzMCVTLw==
								</data>
								<key>Size</key>
								<integer>1991</integer>
							</dict>
							<key>colour_tags-page8.css</key>
							<dict>
								<key>Digest</key>
								<data>
								1vUQk7iezoLy
								e0YzMCVTLw==
								</data>
								<key>Size</key>
								<integer>1991</integer>
							</dict>
							<key>colour_tags-page9.css</key>
							<dict>
								<key>Digest</key>
								<data>
								1vUQk7iezoLy
								e0YzMCVTLw==
								</data>
								<key>Size</key>
								<integer>1991</integer>
							</dict>
							<key>colour_tags-theme-default.css</key>
							<dict>
								<key>Digest</key>
								<data>
								1vUQk7iezoLy
								e0YzMCVTLw==
								</data>
								<key>Size</key>
								<integer>1991</integer>
							</dict>
							<key>colour_tags.css</key>
							<dict>
								<key>Digest</key>
								<data>
								1vUQk7iezoLy
								e0YzMCVTLw==
								</data>
								<key>Size</key>
								<integer>1991</integer>
							</dict>
							<key>css/760.css</key>
							<dict>
								<key>Digest</key>
								<data>
								mi1SWSGF3lmQ
								YGaROWkFOQ==
								</data>
								<key>Size</key>
								<integer>615</integer>
							</dict>
							<key>css/860.css</key>
							<dict>
								<key>Digest</key>
								<data>
								6kJxtOkd/uuA
								mdIhjGx2uQ==
								</data>
								<key>Size</key>
								<integer>615</integer>
							</dict>
							<key>css/960.css</key>
							<dict>
								<key>Digest</key>
								<data>
								pk02UMTv/y5v
								JQClOAb9jg==
								</data>
								<key>Size</key>
								<integer>615</integer>
							</dict>
							<key>css/aside_hide.css</key>
							<dict>
								<key>Digest</key>
								<data>
								2pjf/WJCBll5
								9IOEsq3Upw==
								</data>
								<key>Size</key>
								<integer>53</integer>
							</dict>
							<key>css/aside_left.css</key>
							<dict>
								<key>Digest</key>
								<data>
								yKr6ZH9r1oVb
								Qz8ZQ03NWg==
								</data>
								<key>Size</key>
								<integer>73</integer>
							</dict>
							<key>css/aside_right.css</key>
							<dict>
								<key>Digest</key>
								<data>
								tLk5bGB9C35b
								E+SHzgYaug==
								</data>
								<key>Size</key>
								<integer>72</integer>
							</dict>
							<key>css/background1.css</key>
							<dict>
								<key>Digest</key>
								<data>
								89p53HCeJ++y
								sJQQ19h9cA==
								</data>
								<key>Size</key>
								<integer>63</integer>
							</dict>
							<key>css/background2.css</key>
							<dict>
								<key>Digest</key>
								<data>
								2G78w+mDc8Am
								kwmpLkertQ==
								</data>
								<key>Size</key>
								<integer>63</integer>
							</dict>
							<key>css/background3.css</key>
							<dict>
								<key>Digest</key>
								<data>
								ZQpD3pwjD95A
								eNRVDoRQiA==
								</data>
								<key>Size</key>
								<integer>63</integer>
							</dict>
							<key>css/background4.css</key>
							<dict>
								<key>Digest</key>
								<data>
								D3pKUfom1S6Z
								nta7K3XZ4g==
								</data>
								<key>Size</key>
								<integer>63</integer>
							</dict>
							<key>css/background5.css</key>
							<dict>
								<key>Digest</key>
								<data>
								ymce2JlX8Zeh
								y5c8B5ZZ1g==
								</data>
								<key>Size</key>
								<integer>63</integer>
							</dict>
							<key>css/background6.css</key>
							<dict>
								<key>Digest</key>
								<data>
								HJr5dy4mpdK2
								6ufIqUnbdA==
								</data>
								<key>Size</key>
								<integer>63</integer>
							</dict>
							<key>css/background7.css</key>
							<dict>
								<key>Digest</key>
								<data>
								wFjh77oOxxWZ
								P2MwEAQtiQ==
								</data>
								<key>Size</key>
								<integer>63</integer>
							</dict>
							<key>css/background8.css</key>
							<dict>
								<key>Digest</key>
								<data>
								90K4ulnaTgpN
								p3INxPjpdQ==
								</data>
								<key>Size</key>
								<integer>63</integer>
							</dict>
							<key>css/body_11.css</key>
							<dict>
								<key>Digest</key>
								<data>
								cPjng4Frb2RZ
								S8AqtdHM2g==
								</data>
								<key>Size</key>
								<integer>40</integer>
							</dict>
							<key>css/body_12.css</key>
							<dict>
								<key>Digest</key>
								<data>
								ZsozhhAtr+tY
								C6AuCTXmNw==
								</data>
								<key>Size</key>
								<integer>40</integer>
							</dict>
							<key>css/body_14.css</key>
							<dict>
								<key>Digest</key>
								<data>
								bIU0Mqsekxyk
								MY8kL4rFIQ==
								</data>
								<key>Size</key>
								<integer>40</integer>
							</dict>
							<key>css/feature_1.css</key>
							<dict>
								<key>Digest</key>
								<data>
								113G/XLEXuow
								S4mXzpjvMg==
								</data>
								<key>Size</key>
								<integer>91</integer>
							</dict>
							<key>css/feature_10.css</key>
							<dict>
								<key>Digest</key>
								<data>
								F43hE8muAeoi
								RW/034OgoQ==
								</data>
								<key>Size</key>
								<integer>92</integer>
							</dict>
							<key>css/feature_11.css</key>
							<dict>
								<key>Digest</key>
								<data>
								Fw6LRZucMQjX
								xu02hHMtzQ==
								</data>
								<key>Size</key>
								<integer>92</integer>
							</dict>
							<key>css/feature_12.css</key>
							<dict>
								<key>Digest</key>
								<data>
								Ql6XnnR1C1ZN
								V/pKNDtsYg==
								</data>
								<key>Size</key>
								<integer>92</integer>
							</dict>
							<key>css/feature_13.css</key>
							<dict>
								<key>Digest</key>
								<data>
								dJYx+iqZK9PF
								lDLdu50WuA==
								</data>
								<key>Size</key>
								<integer>92</integer>
							</dict>
							<key>css/feature_14.css</key>
							<dict>
								<key>Digest</key>
								<data>
								uG3zDiHJDkIX
								7AKwdfdiUA==
								</data>
								<key>Size</key>
								<integer>92</integer>
							</dict>
							<key>css/feature_15.css</key>
							<dict>
								<key>Digest</key>
								<data>
								jmfdGML4IJHI
								nIn1/mqD1Q==
								</data>
								<key>Size</key>
								<integer>92</integer>
							</dict>
							<key>css/feature_16.css</key>
							<dict>
								<key>Digest</key>
								<data>
								bC/1r+Sd0QAD
								LF81+mGlzQ==
								</data>
								<key>Size</key>
								<integer>92</integer>
							</dict>
							<key>css/feature_17.css</key>
							<dict>
								<key>Digest</key>
								<data>
								K67zjbUZuY1j
								uQ2d3ZRF9A==
								</data>
								<key>Size</key>
								<integer>92</integer>
							</dict>
							<key>css/feature_18.css</key>
							<dict>
								<key>Digest</key>
								<data>
								vDghRQTqTH6Y
								fxjp+HOFpQ==
								</data>
								<key>Size</key>
								<integer>92</integer>
							</dict>
							<key>css/feature_19.css</key>
							<dict>
								<key>Digest</key>
								<data>
								WGRPlmOvOFD9
								Bo/q6esyiw==
								</data>
								<key>Size</key>
								<integer>92</integer>
							</dict>
							<key>css/feature_2.css</key>
							<dict>
								<key>Digest</key>
								<data>
								qhkxpVRv9pDH
								AXF/wSokIw==
								</data>
								<key>Size</key>
								<integer>91</integer>
							</dict>
							<key>css/feature_20.css</key>
							<dict>
								<key>Digest</key>
								<data>
								2R3YD4gpXT8l
								v+8ueJeQEA==
								</data>
								<key>Size</key>
								<integer>92</integer>
							</dict>
							<key>css/feature_200px.css</key>
							<dict>
								<key>Digest</key>
								<data>
								jfQlTPwaBJ5H
								cIAlwAclgQ==
								</data>
								<key>Size</key>
								<integer>42</integer>
							</dict>
							<key>css/feature_250px.css</key>
							<dict>
								<key>Digest</key>
								<data>
								xDN414HQpc0t
								po3NA+jc/g==
								</data>
								<key>Size</key>
								<integer>42</integer>
							</dict>
							<key>css/feature_3.css</key>
							<dict>
								<key>Digest</key>
								<data>
								PCfGPWmbu042
								kpDWz6lujg==
								</data>
								<key>Size</key>
								<integer>91</integer>
							</dict>
							<key>css/feature_300px.css</key>
							<dict>
								<key>Digest</key>
								<data>
								3lN83fc5wSpX
								Iu8RGcuGPA==
								</data>
								<key>Size</key>
								<integer>23</integer>
							</dict>
							<key>css/feature_350px.css</key>
							<dict>
								<key>Digest</key>
								<data>
								sOcMDyuSXB8T
								RjlZm2xAvw==
								</data>
								<key>Size</key>
								<integer>42</integer>
							</dict>
							<key>css/feature_4.css</key>
							<dict>
								<key>Digest</key>
								<data>
								nhw/SURVUjJZ
								DhgcHVjL4g==
								</data>
								<key>Size</key>
								<integer>91</integer>
							</dict>
							<key>css/feature_400px.css</key>
							<dict>
								<key>Digest</key>
								<data>
								L/kRS1U/q2YT
								/BCNlQoi4w==
								</data>
								<key>Size</key>
								<integer>42</integer>
							</dict>
							<key>css/feature_5.css</key>
							<dict>
								<key>Digest</key>
								<data>
								b+atmwRWGT/S
								p8gG1by2iQ==
								</data>
								<key>Size</key>
								<integer>91</integer>
							</dict>
							<key>css/feature_6.css</key>
							<dict>
								<key>Digest</key>
								<data>
								LO0N4k7p/Vz/
								JLjCwN4PDQ==
								</data>
								<key>Size</key>
								<integer>91</integer>
							</dict>
							<key>css/feature_7.css</key>
							<dict>
								<key>Digest</key>
								<data>
								1m9MTGtfJu+t
								1mcHdH8u9g==
								</data>
								<key>Size</key>
								<integer>91</integer>
							</dict>
							<key>css/feature_8.css</key>
							<dict>
								<key>Digest</key>
								<data>
								USCfWfrNWIfD
								viBfpxMh6Q==
								</data>
								<key>Size</key>
								<integer>91</integer>
							</dict>
							<key>css/feature_9.css</key>
							<dict>
								<key>Digest</key>
								<data>
								jZnGOwHgpaDC
								f3ZO4kwG/Q==
								</data>
								<key>Size</key>
								<integer>91</integer>
							</dict>
							<key>css/feature_none.css</key>
							<dict>
								<key>Digest</key>
								<data>
								G5Ltl3kHWDJ0
								5SIgGii/Bw==
								</data>
								<key>Size</key>
								<integer>388</integer>
							</dict>
							<key>css/nav_22.css</key>
							<dict>
								<key>Digest</key>
								<data>
								+FZAfJpTyUog
								5MnAz3xeyA==
								</data>
								<key>Size</key>
								<integer>25</integer>
							</dict>
							<key>css/nav_24.css</key>
							<dict>
								<key>Digest</key>
								<data>
								SMO9Ajypflpn
								qzsVQAPseg==
								</data>
								<key>Size</key>
								<integer>25</integer>
							</dict>
							<key>css/nav_26.css</key>
							<dict>
								<key>Digest</key>
								<data>
								+FIqdaq0xQl1
								NaNBZHaiAg==
								</data>
								<key>Size</key>
								<integer>25</integer>
							</dict>
							<key>css/nav_28.css</key>
							<dict>
								<key>Digest</key>
								<data>
								9H1D7sSxh2Kc
								r0G8A4YZug==
								</data>
								<key>Size</key>
								<integer>25</integer>
							</dict>
							<key>css/nav_30.css</key>
							<dict>
								<key>Digest</key>
								<data>
								keE+Tesfk4Lx
								BX/Qt6P6wg==
								</data>
								<key>Size</key>
								<integer>25</integer>
							</dict>
							<key>css/nav_32.css</key>
							<dict>
								<key>Digest</key>
								<data>
								oqGyzaBe3lFB
								GiLZDpCxXw==
								</data>
								<key>Size</key>
								<integer>25</integer>
							</dict>
							<key>css/nav_34.css</key>
							<dict>
								<key>Digest</key>
								<data>
								qgE7Q0ThLH1l
								0hiusXo0zQ==
								</data>
								<key>Size</key>
								<integer>25</integer>
							</dict>
							<key>css/nav_col3.css</key>
							<dict>
								<key>Digest</key>
								<data>
								noT8aFEWDeA2
								/95TTK4WYg==
								</data>
								<key>Size</key>
								<integer>43</integer>
							</dict>
							<key>css/nav_col4.css</key>
							<dict>
								<key>Digest</key>
								<data>
								WHV23hZsepzH
								2wrOqqlTYw==
								</data>
								<key>Size</key>
								<integer>43</integer>
							</dict>
							<key>css/nav_col5.css</key>
							<dict>
								<key>Digest</key>
								<data>
								2Jd5x1m/Ny9W
								WBvY4Zdqxg==
								</data>
								<key>Size</key>
								<integer>43</integer>
							</dict>
							<key>css/nav_col6.css</key>
							<dict>
								<key>Digest</key>
								<data>
								yIuoH7vuC9H9
								ag5TO8oeWA==
								</data>
								<key>Size</key>
								<integer>43</integer>
							</dict>
							<key>css/prettyPhoto.css</key>
							<dict>
								<key>Digest</key>
								<data>
								8am1aRRDs8lI
								ICU9sQojpQ==
								</data>
								<key>Size</key>
								<integer>19694</integer>
							</dict>
							<key>css/side_18.css</key>
							<dict>
								<key>Digest</key>
								<data>
								B1b/tNEpvy0n
								/1y79ScaGg==
								</data>
								<key>Size</key>
								<integer>30</integer>
							</dict>
							<key>css/side_20.css</key>
							<dict>
								<key>Digest</key>
								<data>
								g+mG+va5BYYu
								t/H4zp6ENQ==
								</data>
								<key>Size</key>
								<integer>30</integer>
							</dict>
							<key>css/side_24.css</key>
							<dict>
								<key>Digest</key>
								<data>
								8q/ew94rvTRY
								JQI2OtfI2A==
								</data>
								<key>Size</key>
								<integer>30</integer>
							</dict>
							<key>css/side_26.css</key>
							<dict>
								<key>Digest</key>
								<data>
								6LvZyhAT6zxX
								8HeLMYOFRQ==
								</data>
								<key>Size</key>
								<integer>30</integer>
							</dict>
							<key>css/title_36.css</key>
							<dict>
								<key>Digest</key>
								<data>
								3LmX9RAo8ksJ
								eDk8nIk8yQ==
								</data>
								<key>Size</key>
								<integer>27</integer>
							</dict>
							<key>css/title_40.css</key>
							<dict>
								<key>Digest</key>
								<data>
								U4CbKLElvCCr
								oBobz0i36Q==
								</data>
								<key>Size</key>
								<integer>27</integer>
							</dict>
							<key>css/title_44.css</key>
							<dict>
								<key>Digest</key>
								<data>
								UsOtwJdEdxyt
								f2XLChJ5bA==
								</data>
								<key>Size</key>
								<integer>27</integer>
							</dict>
							<key>css/title_48.css</key>
							<dict>
								<key>Digest</key>
								<data>
								E2YXyyDKWQXO
								Xz2wCfH0Og==
								</data>
								<key>Size</key>
								<integer>27</integer>
							</dict>
							<key>css/title_52.css</key>
							<dict>
								<key>Digest</key>
								<data>
								jPbbuXJHsdhQ
								vqiF8EyKJg==
								</data>
								<key>Size</key>
								<integer>27</integer>
							</dict>
							<key>css/title_56.css</key>
							<dict>
								<key>Digest</key>
								<data>
								f+mL4QFUQUdO
								ZZ7xAZeNJg==
								</data>
								<key>Size</key>
								<integer>27</integer>
							</dict>
							<key>css/toggle_no_indents.css</key>
							<dict>
								<key>Digest</key>
								<data>
								qWfn4CemDrra
								XHZesJC/lA==
								</data>
								<key>Size</key>
								<integer>366</integer>
							</dict>
							<key>css/toggle_photo_social.css</key>
							<dict>
								<key>Digest</key>
								<data>
								1eEl2saqna0k
								E6B9e1un2Q==
								</data>
								<key>Size</key>
								<integer>27</integer>
							</dict>
							<key>font/BebasNeue-webfont.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								6SZLKmXhZu8j
								kSSbWPdo0Q==
								</data>
								<key>Size</key>
								<integer>10031</integer>
							</dict>
							<key>font/BebasNeue-webfont.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								agfC6tqDC/d2
								mCVqgQaA7A==
								</data>
								<key>Size</key>
								<integer>20581</integer>
							</dict>
							<key>font/BebasNeue-webfont.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								Cf2nh2eUnw3U
								TkPkRuorGQ==
								</data>
								<key>Size</key>
								<integer>21736</integer>
							</dict>
							<key>font/BebasNeue-webfont.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								bwTT1uKBhKWs
								5gPoC5dDPg==
								</data>
								<key>Size</key>
								<integer>11632</integer>
							</dict>
							<key>font/socialicons-webfont.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								CvVj9sN8ETE0
								tcHayTZdEg==
								</data>
								<key>Size</key>
								<integer>9521</integer>
							</dict>
							<key>font/socialicons-webfont.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								9VB18DXUcuFn
								ZJKIxpfLGg==
								</data>
								<key>Size</key>
								<integer>19729</integer>
							</dict>
							<key>font/socialicons-webfont.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								emhiW7umkPcV
								Sz4lcBK1qQ==
								</data>
								<key>Size</key>
								<integer>13260</integer>
							</dict>
							<key>font/socialicons-webfont.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								B7MoPy61zXqB
								VRx9SDmIxw==
								</data>
								<key>Size</key>
								<integer>10256</integer>
							</dict>
							<key>images/bottom-inset.png</key>
							<dict>
								<key>Digest</key>
								<data>
								uwym0eaFBDb7
								8em3iXJ1Mg==
								</data>
								<key>Size</key>
								<integer>145</integer>
							</dict>
							<key>images/breadcrumb.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kO34Csc+7QbN
								kqCM6Zw8GA==
								</data>
								<key>Size</key>
								<integer>134</integer>
							</dict>
							<key>images/editable_images/bg1.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Ah6WmCb+E2tP
								19ztqrT2lw==
								</data>
								<key>Size</key>
								<integer>172417</integer>
							</dict>
							<key>images/editable_images/bg2.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								VOPuhFzJM86r
								GxAT6/WBpQ==
								</data>
								<key>Size</key>
								<integer>10130</integer>
							</dict>
							<key>images/editable_images/bg3.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								UHk7l18TrcMS
								GBOYiD9SNg==
								</data>
								<key>Size</key>
								<integer>6061</integer>
							</dict>
							<key>images/editable_images/bg4.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								MFf6H7K8Y+2G
								1oGrQ0jkiA==
								</data>
								<key>Size</key>
								<integer>1618</integer>
							</dict>
							<key>images/editable_images/bg5.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uVNybx0iZM7l
								kVpuw9cBlg==
								</data>
								<key>Size</key>
								<integer>92490</integer>
							</dict>
							<key>images/editable_images/bg6.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								cohbXnBVQraH
								MzebS7Ythw==
								</data>
								<key>Size</key>
								<integer>43862</integer>
							</dict>
							<key>images/editable_images/bg7.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								BMCjuhx6XNNs
								3Sz90AHKNA==
								</data>
								<key>Size</key>
								<integer>56352</integer>
							</dict>
							<key>images/editable_images/bg8.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								EFVgSX9lWON8
								E5WirktYhQ==
								</data>
								<key>Size</key>
								<integer>1452</integer>
							</dict>
							<key>images/editable_images/feature_1.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								RmjSug0Zx+v0
								fJo0SI/ZbQ==
								</data>
								<key>Size</key>
								<integer>94687</integer>
							</dict>
							<key>images/editable_images/feature_10.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								myPeKf0sPmqx
								KhQ9Oybp6Q==
								</data>
								<key>Size</key>
								<integer>88187</integer>
							</dict>
							<key>images/editable_images/feature_11.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								eIEUDmaYg5FX
								4fk2DlWGvg==
								</data>
								<key>Size</key>
								<integer>15470</integer>
							</dict>
							<key>images/editable_images/feature_12.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								eIEUDmaYg5FX
								4fk2DlWGvg==
								</data>
								<key>Size</key>
								<integer>15470</integer>
							</dict>
							<key>images/editable_images/feature_13.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								eIEUDmaYg5FX
								4fk2DlWGvg==
								</data>
								<key>Size</key>
								<integer>15470</integer>
							</dict>
							<key>images/editable_images/feature_14.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								eIEUDmaYg5FX
								4fk2DlWGvg==
								</data>
								<key>Size</key>
								<integer>15470</integer>
							</dict>
							<key>images/editable_images/feature_15.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								eIEUDmaYg5FX
								4fk2DlWGvg==
								</data>
								<key>Size</key>
								<integer>15470</integer>
							</dict>
							<key>images/editable_images/feature_16.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								eIEUDmaYg5FX
								4fk2DlWGvg==
								</data>
								<key>Size</key>
								<integer>15470</integer>
							</dict>
							<key>images/editable_images/feature_17.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								eIEUDmaYg5FX
								4fk2DlWGvg==
								</data>
								<key>Size</key>
								<integer>15470</integer>
							</dict>
							<key>images/editable_images/feature_18.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								eIEUDmaYg5FX
								4fk2DlWGvg==
								</data>
								<key>Size</key>
								<integer>15470</integer>
							</dict>
							<key>images/editable_images/feature_19.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								eIEUDmaYg5FX
								4fk2DlWGvg==
								</data>
								<key>Size</key>
								<integer>15470</integer>
							</dict>
							<key>images/editable_images/feature_2.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LrxKl4V0Hiir
								pYzcSotETw==
								</data>
								<key>Size</key>
								<integer>212751</integer>
							</dict>
							<key>images/editable_images/feature_20.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								eIEUDmaYg5FX
								4fk2DlWGvg==
								</data>
								<key>Size</key>
								<integer>15470</integer>
							</dict>
							<key>images/editable_images/feature_3.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								jqL26HuHdsjq
								PVH7XYh8WQ==
								</data>
								<key>Size</key>
								<integer>112039</integer>
							</dict>
							<key>images/editable_images/feature_4.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								2d4MM9OvLtdX
								8NBI6XrvLA==
								</data>
								<key>Size</key>
								<integer>128913</integer>
							</dict>
							<key>images/editable_images/feature_5.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Z4YNarWjwvgO
								i8LPlKkjyg==
								</data>
								<key>Size</key>
								<integer>140754</integer>
							</dict>
							<key>images/editable_images/feature_6.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								0ZJ2wjhGgMyd
								Pd2/roIcvA==
								</data>
								<key>Size</key>
								<integer>115604</integer>
							</dict>
							<key>images/editable_images/feature_7.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								paEtVYnFYfZp
								d1lMQ1kYwA==
								</data>
								<key>Size</key>
								<integer>123873</integer>
							</dict>
							<key>images/editable_images/feature_8.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Ts7HecE2HQJL
								quWbui7qPA==
								</data>
								<key>Size</key>
								<integer>82899</integer>
							</dict>
							<key>images/editable_images/feature_9.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								TXPTAxU6vRJP
								+PwqoFaT1g==
								</data>
								<key>Size</key>
								<integer>97597</integer>
							</dict>
							<key>images/highlight.png</key>
							<dict>
								<key>Digest</key>
								<data>
								W3jCLWykzcCp
								5Z4/sTXHIw==
								</data>
								<key>Size</key>
								<integer>63857</integer>
							</dict>
							<key>images/nav_trigger.png</key>
							<dict>
								<key>Digest</key>
								<data>
								my6mfpXVHTOe
								DLrJ0e/CGQ==
								</data>
								<key>Size</key>
								<integer>1793</integer>
							</dict>
							<key>images/nav_trigger_on.png</key>
							<dict>
								<key>Digest</key>
								<data>
								yPoKGeqBP47p
								YNeWb6bQ6w==
								</data>
								<key>Size</key>
								<integer>2961</integer>
							</dict>
							<key>images/play.png</key>
							<dict>
								<key>Digest</key>
								<data>
								lJzeHxaWZ1ZC
								Exo3aMB7zg==
								</data>
								<key>Size</key>
								<integer>1783</integer>
							</dict>
							<key>images/press_760.png</key>
							<dict>
								<key>Digest</key>
								<data>
								olEXgjvj5MiH
								gZ8g+nxGPw==
								</data>
								<key>Size</key>
								<integer>605</integer>
							</dict>
							<key>images/press_860.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pzBvUafLToE8
								jYU310tyiQ==
								</data>
								<key>Size</key>
								<integer>612</integer>
							</dict>
							<key>images/press_960.png</key>
							<dict>
								<key>Digest</key>
								<data>
								E6q0921EH+xg
								5sbWdoUswg==
								</data>
								<key>Size</key>
								<integer>609</integer>
							</dict>
							<key>images/press_all.png</key>
							<dict>
								<key>Digest</key>
								<data>
								xssPNRH33IYg
								YCaGhZnh/g==
								</data>
								<key>Size</key>
								<integer>213</integer>
							</dict>
							<key>images/prettyPhoto/default/default_thumb.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ij58eYAwV01R
								nT0Wel5tXQ==
								</data>
								<key>Size</key>
								<integer>1537</integer>
							</dict>
							<key>images/prettyPhoto/default/loader.gif</key>
							<dict>
								<key>Digest</key>
								<data>
								g5PF9+OUaY91
								HuahH/89xw==
								</data>
								<key>Size</key>
								<integer>6331</integer>
							</dict>
							<key>images/prettyPhoto/default/sprite.png</key>
							<dict>
								<key>Digest</key>
								<data>
								+BRobcpIMBZN
								P40slJtCzw==
								</data>
								<key>Size</key>
								<integer>6682</integer>
							</dict>
							<key>images/prettyPhoto/default/sprite_next.png</key>
							<dict>
								<key>Digest</key>
								<data>
								uQPIwV3/Z3t7
								Pf0EL+jYYA==
								</data>
								<key>Size</key>
								<integer>1358</integer>
							</dict>
							<key>images/prettyPhoto/default/sprite_prev.png</key>
							<dict>
								<key>Digest</key>
								<data>
								v1Xqfe3iAEFm
								3EAkxbVSjA==
								</data>
								<key>Size</key>
								<integer>1376</integer>
							</dict>
							<key>images/prettyPhoto/default/sprite_x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Jrl1WaUiW/PM
								PhY0lQvLhA==
								</data>
								<key>Size</key>
								<integer>1097</integer>
							</dict>
							<key>images/prettyPhoto/default/sprite_y.png</key>
							<dict>
								<key>Digest</key>
								<data>
								CW4E+/tHTEbP
								F6moeLPSIQ==
								</data>
								<key>Size</key>
								<integer>1162</integer>
							</dict>
							<key>images/top-inset.png</key>
							<dict>
								<key>Digest</key>
								<data>
								fDOXvMEfedEo
								ppzxGbL4BQ==
								</data>
								<key>Size</key>
								<integer>160</integer>
							</dict>
							<key>javascript.js</key>
							<dict>
								<key>Digest</key>
								<data>
								SDy19nApUybR
								uloAz6Qbog==
								</data>
								<key>Size</key>
								<integer>14600</integer>
							</dict>
							<key>scripts/below_nav.js</key>
							<dict>
								<key>Digest</key>
								<data>
								zjvLfxg+XpcR
								BFUz/nivyg==
								</data>
								<key>Size</key>
								<integer>22</integer>
							</dict>
							<key>scripts/function.js</key>
							<dict>
								<key>Digest</key>
								<data>
								pESsKBNR/nQr
								kXu6YjIhMA==
								</data>
								<key>Size</key>
								<integer>108862</integer>
							</dict>
							<key>scripts/hidden_nav.js</key>
							<dict>
								<key>Digest</key>
								<data>
								5ba531SuBvm+
								dIL0CY385Q==
								</data>
								<key>Size</key>
								<integer>23</integer>
							</dict>
							<key>scripts/info.js</key>
							<dict>
								<key>Digest</key>
								<data>
								bmrRILkP5FxW
								jaIs4nZwaw==
								</data>
								<key>Size</key>
								<integer>1356</integer>
							</dict>
							<key>scripts/jquery.prettyPhoto.js</key>
							<dict>
								<key>Digest</key>
								<data>
								vCMhUajZVXXY
								iFgSs7ZVdQ==
								</data>
								<key>Size</key>
								<integer>34054</integer>
							</dict>
							<key>scripts/open_nav.js</key>
							<dict>
								<key>Digest</key>
								<data>
								dh8vLWQyiRTk
								fw0pgWMQ8g==
								</data>
								<key>Size</key>
								<integer>23</integer>
							</dict>
							<key>styles.css</key>
							<dict>
								<key>Digest</key>
								<data>
								5jp8CuOM5+T/
								zRrBuUAVFw==
								</data>
								<key>Size</key>
								<integer>16039</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:theme:e_quinox</string>
						<key>SiteRoot</key>
						<string>rw_common/themes/e_quinox</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUImZpUJHRvcFgkb2JqZWN0c1gk
				dmVyc2lvblkkYXJjaGl2ZXLRBgdUcm9vdIABrxAeCQoR
				HSEzNztCRkdITE9TV15iaHBzd3yAhIiOj5OXVSRudWxs
				0gsMDRBaTlMub2JqZWN0c1YkY2xhc3OiDg+AAoAVgB3W
				EhMUDBUWFxgZGhscWE5vZGUgTWFwWVJlc291cmNlc1hQ
				YXRoIE1hcF5JZGVudGlmaWVyIE1hcFhQYWdlIE1hcIAR
				gAOAGYAcgA+AGNILDB4goR+ABIAO2SIjJCUmJygMKSor
				LC0uLTAxLVROYW1lVUFsaWFzWklkZW50aWZpZXJdUHVi
				bGlzaGVkRGF0ZVlUaW1lU3RhbXBcUHVibGlzaGVkVVJM
				V0NoYW5nZWRUU2x1Z4AKgAWACYAAgAuAAAiADYAA0jQM
				NTZSJDCABoAI0jgMOTpXTlMuZGF0YU8RAfoAAAAAAfoA
				AgAADE1hY2ludG9zaCBIRAAAAAAAAAAAAAAAAAAAAMcr
				h89IKwAAABiBpB5pQ2FuU2NyaXB0LXYwLjguNS51bml0
				eXBhY2thZ2UAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAZmfwyxUhugAAAAAAAAAA/////wAACSAA
				AAAAAAAAAAAAAAAAAAAOVW5pdHkgUGFja2FnZXMAEAAI
				AADHK84fAAAAEQAIAADLFWgKAAAAAQAUABiBpAA/ZlYA
				CKaaAAgIZQAAkY0AAgBeTWFjaW50b3NoIEhEOlVzZXJz
				OgBSZWludWFsOgBXb3Jrc3BhY2VzOgBVbml0eToAVW5p
				dHkgUGFja2FnZXM6AGlDYW5TY3JpcHQtdjAuOC41LnVu
				aXR5cGFja2FnZQAOAD4AHgBpAEMAYQBuAFMAYwByAGkA
				cAB0AC0AdgAwAC4AOAAuADUALgB1AG4AaQB0AHkAcABh
				AGMAawBhAGcAZQAPABoADABNAGEAYwBpAG4AdABvAHMA
				aAAgAEgARAASAExVc2Vycy9SZWludWFsL1dvcmtzcGFj
				ZXMvVW5pdHkvVW5pdHkgUGFja2FnZXMvaUNhblNjcmlw
				dC12MC44LjUudW5pdHlwYWNrYWdlABMAAS8AABUAAgAO
				//8AAIAH0jw9Pj9YJGNsYXNzZXNaJGNsYXNzbmFtZaM/
				QEFdTlNNdXRhYmxlRGF0YVZOU0RhdGFYTlNPYmplY3TS
				PD1DRaJEQVdCREFsaWFzV0JEQWxpYXNfECQwRjcyMkUy
				MS05NjBFLTRCRTgtOTlGMC1GREY4MkEzQTMzMUFfEB5p
				Q2FuU2NyaXB0LXYwLjguNS51bml0eXBhY2thZ2XSDElK
				S1dOUy50aW1lgAwjQbSg5GP3L3fSPD1NTqJOQVZOU0Rh
				dGXSPD1QUqJRQV5SV1NpdGVSZXNvdXJjZV5SV1NpdGVS
				ZXNvdXJjZdI8PVRVo1VWQVxOU011dGFibGVTZXRVTlNT
				ZXTTC1gMWVtdV05TLmtleXOhH4AEoSyACYAQ0jw9X2Cj
				YGFBXxATTlNNdXRhYmxlRGljdGlvbmFyeVxOU0RpY3Rp
				b25hcnnTC1gMY2VdoWSAEqEsgAmAENRpDGprbG0fD1hD
				aGlsZHJlbl8QElJlcHJlc2VudGVkIE9iamVjdFZQYXJl
				bnSAE4AXgASAFdILDHFyoIAU0jw9dHWjdXZBXk5TTXV0
				YWJsZUFycmF5V05TQXJyYXnUaQxqa3htLS2AFoAXgACA
				ANILDH1yoWSAEoAU0jw9gYOigkFfEBBSV1NvdXJjZUxp
				c3ROb2RlXxAQUldTb3VyY2VMaXN0Tm9kZdMLWAyFhl2g
				oIAQ0wtYDImLXaGKgBuhjIAagBBfEE0vVXNlcnMvUmVp
				bnVhbC9Xb3Jrc3BhY2VzL1VuaXR5L1VuaXR5IFBhY2th
				Z2VzL2lDYW5TY3JpcHQtdjAuOC41LnVuaXR5cGFja2Fn
				ZdILDJAgoR+ABIAO0jw9lJailUFfEBJSV1Jlc291cmNl
				RGF0YWJhc2VfEBJSV1Jlc291cmNlRGF0YWJhc2XSPD2Y
				dqJ2QRIAAYagXxAPTlNLZXllZEFyY2hpdmVyAAgAEQAW
				AB8AKAAyADUAOgA8AF0AYwBoAHMAegB9AH8AgQCDAJAA
				mQCjAKwAuwDEAMYAyADKAMwAzgDQANUA1wDZANsA7gDz
				APkBBAESARwBKQExATYBOAE6ATwBPgFAAUIBQwFFAUcB
				TAFPAVEBUwFYAWADXgNgA2UDbgN5A30DiwOSA5sDoAOj
				A6sDswPaA/sEAAQIBAoEEwQYBBsEIgQnBCoEOQRIBE0E
				UQReBGQEawRzBHUEdwR5BHsEfQSCBIYEnASpBLAEsgS0
				BLYEuAS6BMMEzAThBOgE6gTsBO4E8AT1BPYE+AT9BQEF
				EAUYBSEFIwUlBScFKQUuBTAFMgU0BTkFPAVPBWIFaQVq
				BWsFbQV0BXYFeAV6BXwFfgXOBdMF1QXXBdkF3gXhBfYG
				CwYQBhMGGAAAAAAAAAIBAAAAAAAAAJsAAAAAAAAAAAAA
				AAAAAAYq
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>BaseURL</key>
					<string>http://www.icanscript.com/</string>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact</string>
					<key>CopyrightText</key>
					<string>© 2011 Disruptive Software</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<false/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.html</string>
						<string>index.php</string>
					</array>
					<key>EmailAddress</key>
					<string>support@icanscript.com</string>
					<key>FavIconUsed</key>
					<false/>
					<key>LogoUsed</key>
					<false/>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PreviewAfterExportRelativeToBaseURL</key>
					<false/>
					<key>ProcessPHP</key>
					<false/>
					<key>PublishingSettings</key>
					<dict>
						<key>publisher</key>
						<string>FTP</string>
						<key>settings</key>
						<dict>
							<key>anonymous</key>
							<false/>
							<key>enablePublicKeyAuthentication</key>
							<false/>
							<key>passiveMode</key>
							<true/>
							<key>path</key>
							<string>/</string>
							<key>privateKeyPath</key>
							<string></string>
							<key>publicKeyPath</key>
							<string></string>
							<key>server</key>
							<string>www.icanscript.com</string>
							<key>sftp</key>
							<false/>
							<key>user</key>
							<string>reinual</string>
						</dict>
					</dict>
					<key>PublishingSettingsConfigured</key>
					<true/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowTidiedCode</key>
					<false/>
					<key>SloganText</key>
					<string>More power for the non-technical programmers ...</string>
					<key>SloganUsed</key>
					<true/>
					<key>ThemeName</key>
					<string>iCanScript</string>
					<key>TitleText</key>
					<string>iCanScript</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UUID</key>
					<string>B7560928-39D1-4B36-A679-85500592817E</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>WebClipIconUsed</key>
					<false/>
					<key>putGoogleAnalyticsInHead</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array>
				<string>README.txt</string>
			</array>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
