<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>iCanScript Screencasts | Video Tutorials and Examples</string>
				<key>CreatedDate</key>
				<date>2014-11-17T02:45:26Z</date>
				<key>ID</key>
				<string>page2</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>&lt;i class="fa fa-film fa-fw"&gt;&lt;/i&gt; Screencasts</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2014-11-24T20:51:02Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>PageDigests</key>
					<dict>
						<key>files/cloud.php</key>
						<dict>
							<key>Digest</key>
							<data>
							HooeGOe7KZ79r9MK1f85
							yQ==
							</data>
							<key>Size</key>
							<integer>9287</integer>
						</dict>
						<key>files/stacks.css</key>
						<dict>
							<key>Digest</key>
							<data>
							83rm1+JQA7LzSaa1k2Ep
							1w==
							</data>
							<key>Size</key>
							<integer>1841</integer>
						</dict>
						<key>files/stacks_ie.css</key>
						<dict>
							<key>Digest</key>
							<data>
							7iAH6PH4xgg0VPXgfbIV
							7Q==
							</data>
							<key>Size</key>
							<integer>229</integer>
						</dict>
						<key>files/stacks_page_page2.css</key>
						<dict>
							<key>Digest</key>
							<data>
							obVwO4yuiLN7GDTxvV+z
							EA==
							</data>
							<key>Size</key>
							<integer>17089</integer>
						</dict>
						<key>files/stacks_page_page2.js</key>
						<dict>
							<key>Digest</key>
							<data>
							4RNlDrEjRjjJtmqTKnJv
							xg==
							</data>
							<key>Size</key>
							<integer>15122</integer>
						</dict>
						<key>files/stacks_page_page5.css</key>
						<dict>
							<key>Digest</key>
							<data>
							4RG+WKctHHir+myxwXOZ
							1Q==
							</data>
							<key>Size</key>
							<integer>1433</integer>
						</dict>
						<key>files/stacks_page_page5.js</key>
						<dict>
							<key>Digest</key>
							<data>
							6BgWKekqTHOT6kU+6Y5P
							7Q==
							</data>
							<key>Size</key>
							<integer>1350</integer>
						</dict>
						<key>index.html</key>
						<dict>
							<key>Digest</key>
							<data>
							/w0h/6CodLbK9m1e3h3S
							2w==
							</data>
							<key>Size</key>
							<integer>15698</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page2</string>
					<key>SiteRoot</key>
					<string>screencasts</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
