#stacks_in_3007_page5{  padding-left:0px;padding-right:0px; }#stacks_in_3007_page5>.jack-wrapper{padding:0;margin:0;border:0;background:0;position:relative;display:block;       margin:0px;  margin-left:auto;margin-right:auto;    border-radius:0px; -moz-box-shadow:0px 0px 0px 0px #333333;-webkit-box-shadow:0px 0px 0px 0px #333333;box-shadow:0px 0px 0px 0px #333333; behavior:url(/PIE/PIE.htc)}#stacks_in_3007_page5>.jack-wrapper.hover{  behavior:url(/PIE/PIE.htc)}#stacks_in_3007_page5>.jack-wrapper>.jack{padding:0;margin:0;border:0;background:0;position:relative;display:block;overflow:hidden;      padding:0px;  border-color:#000000; border-style:solid;  border-width:0px;  border-radius:0px;  -moz-box-shadow:inset 0px 0px 0px 0px #333333;-webkit-box-shadow:inset 0px 0px 0px 0px #333333;box-shadow:inset 0px 0px 0px 0px #333333; behavior:url(/PIE/PIE.htc)}
#stacks_in_3007_page5>.jack-wrapper>.jack.hover{  behavior:url(/PIE/PIE.htc)}#stacks_in_3007_page5>.jack-wrapper>.jack>.stacks_out{  }#stacks_in_3007_page5>.jack-wrapper>.jack-back{  border-radius:0px;  background-attachment:scroll;background-clip:border-box; background-color:transparent;      behavior:url(/PIE/PIE.htc)}
#stacks_in_3007_page5>.jack-wrapper>.jack-back.hover{  behavior:url(/PIE/PIE.htc)}

#stacks_in_3007_page5 {
	background-color: #E5E5E5;
	-moz-border-radius:  10px;
	-webkit-border-radius:  10px;
	border-radius:  10px;
	margin: 10px 0px 0px 0px;
}
