<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>HomePage</key>
				<string>01-003Ci-class003D0022fa-fa-home0022003E003C002Fi003E-Home</string>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>01-003Ci-class003D0022fa-fa-home0022003E003C002Fi003E-Home</string>
				<string>02-003Ci-class003D0022fa-fa-mortar-board0022003E003C002Fi003E-Learn</string>
				<string>03-003Ci-class003D0022fa-fa-comments0022003E003C002Fi003E-Forums</string>
				<string>04-003Ci-class003D0022fa-fa-envelope0022003E003C002Fi003E-Support</string>
				<string>05-003Ci-class003D0022fa-fa-download-fa-fw0022003E003C002Fi003E-Downloads</string>
				<string>06-003Ci-class003D0022fa-fa-film-fa-fw0022003E003C002Fi003E-Screencasts</string>
				<string>07-003Ci-class003D0022fa-fa-question-circle-fa-fw0022003E003C002Fi003E-Help-0026-Support</string>
				<string>08-003Ci-class003D0022fa-fa-group0022003E003C002Fi003E-About-Us</string>
				<string>09-003Cspan-style003D0022color003Ayellow0022003E003Ci-class003D0022fa-fa-shopping-cart0022003E003C002Fi003E-Buy-Now0021003C002Fspan003E</string>
				<string>10-003Ci-class003D0022fa-fa-sitemap0022003E003C002Fi003E-Site-Map</string>
				<string>11-Page-Header</string>
				<string>12-Page-Footer</string>
				<string>13-PlusKit</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Pages</string>
</dict>
</plist>
