<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>ColourStyles</key>
				<dict>
					<key>Alpha</key>
					<dict/>
					<key>Blueball FreeStack Responsive</key>
					<dict>
						<key>%colour_bodybg%</key>
						<string>#ECECEC</string>
						<key>%colour_content_text%</key>
						<string>#343434</string>
						<key>%colour_headlineh1%</key>
						<string>#631600</string>
						<key>%colour_headlineh2%</key>
						<string>#631600</string>
						<key>%colour_headlineh3%</key>
						<string>#631600</string>
						<key>%colour_headlineh4%</key>
						<string>#B14100</string>
						<key>%colour_headlineh5%</key>
						<string>#B14100</string>
					</dict>
					<key>Dashboard</key>
					<dict/>
					<key>E Quinox</key>
					<dict/>
					<key>Mark 1</key>
					<dict/>
					<key>iCanScript</key>
					<dict/>
					<key>iCanScript-Main</key>
					<dict>
						<key>%colour_borders%</key>
						<string>#FF8000</string>
						<key>%colour_title%</key>
						<string>#631600</string>
					</dict>
					<key>iCanScript-R</key>
					<dict>
						<key>%colour_bodybg%</key>
						<string>#F0F0F0</string>
						<key>%colour_content_text%</key>
						<string>#444444</string>
						<key>%colour_headlineh1%</key>
						<string>#631600</string>
						<key>%colour_headlineh2%</key>
						<string>#631600</string>
						<key>%colour_headlineh3%</key>
						<string>#631600</string>
						<key>%colour_headlineh4%</key>
						<string>#631600</string>
						<key>%colour_headlineh5%</key>
						<string>#631600</string>
					</dict>
					<key>iCanScript-V2</key>
					<dict/>
				</dict>
				<key>CreditRapidWeaver</key>
				<true/>
				<key>DefaultLinkTarget</key>
				<string>self</string>
				<key>FilenameExtension</key>
				<string>html</string>
				<key>HasCustomThemeStyle</key>
				<true/>
				<key>ImageFormat</key>
				<string>Original</string>
				<key>ImageQuality</key>
				<string>High</string>
				<key>IndexFilename</key>
				<string></string>
				<key>OutputFormat</key>
				<string>Default</string>
				<key>OutputXMLDeclaration</key>
				<false/>
				<key>SidebarEnabled</key>
				<integer>1</integer>
				<key>TextEncoding</key>
				<string>utf-8</string>
				<key>ThemeStyles</key>
				<dict>
					<key>Alpha</key>
					<array>
						<string>Sidebar.Right</string>
						<string>Width.1000px</string>
					</array>
					<key>Blueball FreeStack Responsive</key>
					<array>
						<string> Body Backgrd Images (Add images to "Resources" folder.Body Backgrd Image 11 (Image must be named "body_bg11.png")</string>
						<string>Body Background Image Repeat (Tiling).Repeat (Default)</string>
						<string>Colour Picker Options.Body Background Color</string>
						<string>Content Font Styles.Helvetica Content (default)</string>
						<string>Footer Text Alignment.Footer Left (default)</string>
						<string>Global Font Size.Font Size Normal (default)</string>
						<string>Headline Font Styles.Helvetica Headline</string>
						<string>Links Underline.Link On, Hover Off (default)</string>
						<string>Nav Menu Font Styles.Helvetica Nav Menu (default)</string>
						<string>Sidebar Header Alignment.Sidebar Header Left (default)</string>
					</array>
					<key>Dashboard</key>
					<array>
						<string>Content Heading Size.0</string>
						<string>Main Content Text Size.0</string>
						<string>Max Width.1200px</string>
						<string>Nav Text Size.0</string>
						<string>Page Load Effect.None</string>
						<string>Shadow Layers.100%</string>
						<string>Sidebar Text Size.0</string>
						<string>Sidebar Title Size.0</string>
						<string>Site Title Size.0</string>
						<string>Theme Tools.Dashboard 1.0.7</string>
						<string>Theme Tools.Hide Sidebar Column</string>
						<string>Theme Tools.Mobile Navigation Above</string>
					</array>
					<key>iCanScript</key>
					<array>
						<string>Background (header/slide show) [EC 1].No header background (color)</string>
						<string>Background (main pre content) [EC 3].No pre content background (color)</string>
						<string>Background gradient (body).None</string>
						<string>Background gradient (pre/post content) [EC 2/EC 5].None</string>
						<string>Background tile.None</string>
						<string>Corners.Small</string>
						<string>Font family (headings).Theme default (headings)</string>
						<string>Font family (slogan).Theme default (slogan)</string>
						<string>Font family (title).Theme default (title)</string>
						<string>Font family.Helvetica (sans-serif)</string>
						<string>Font size.Medium</string>
						<string>Height (header/slide show) [EC 1].Hidden</string>
						<string>Line height.Medium</string>
						<string>Navigation type.3 tier</string>
						<string>Sidebar position.Right</string>
						<string>Sidebar width.Normal</string>
						<string>Slide show effect.Fade</string>
						<string>Slide show speed.1 second</string>
						<string>Slide show timeout.4 seconds</string>
						<string>Slide show type.Off / Manual (snippet)</string>
						<string>Title bar position.Below header</string>
						<string>Width.Variable</string>
					</array>
					<key>iCanScript-Main</key>
					<array>
						<string>Side Texture.Wood</string>
						<string>Site Limiter.100%</string>
						<string>Toggle.100% Sidebar</string>
						<string>Toggle.Hide Logo in Mobile View</string>
						<string>Toggle.Mark 1.4.2</string>
					</array>
					<key>iCanScript-R</key>
					<array>
						<string> Body Backgrd Images (Add images to "Resources" folder.No Body Backgrd Image</string>
						<string>Body Background Image Repeat (Tiling).Repeat (Default)</string>
						<string>Colour Picker Options.Body Background Color</string>
						<string>Content Font Styles.Cabin Content (Google Font)</string>
						<string>Footer Text Alignment.Footer Left (default)</string>
						<string>Global Font Size.Font Size Normal (default)</string>
						<string>Headline Font Styles.Oswald Headline (Google Font)</string>
						<string>Links Underline.Link On, Hover Off (default)</string>
						<string>Nav Menu Font Styles.Helvetica Nav Menu (default)</string>
						<string>Sidebar Header Alignment.Sidebar Header Left (default)</string>
					</array>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array/>
		</dict>
	</array>
	<key>Type</key>
	<string>Page Attributes</string>
</dict>
</plist>
